<div id="toolbar-element-id">
    <p-menubar #menuBar
               [hidden]="!open"
               [class]="getToolbarStyleClass()">
        <ng-template pTemplate="start">
        </ng-template>
        <ng-template pTemplate="end">
            <p-inplace #portfolioNameEditor
                       id="rename-portfolio-element"
                       [preventClick]="true"
                       [style]="{'max-height':'2rem'}">
                <ng-template pTemplate="display">
                    <span (click)="portfolioNameEditor.activate()"
                          style="font-size:1.2rem"
                          class="text-white font-bold float-end"> {{portfolioName}} </span>
                </ng-template>
                <ng-template pTemplate="content">
                    <span class="float-start">
                        <p-button *ngIf="showCancelRename"
                                  icon="fa fa-undo text-danger"
                                  (click)="handleCancelRename()"></p-button>
                        <p-button icon="fa fas fa-save text-green-500"
                                  (click)="handleRename()"></p-button>
                    </span>
                    <input class="font-bold text-white float-end"
                           [style]="{'max-height':'2rem'}"
                           type="text"
                           pInputText
                           [value]="portfolioName"
                           [(ngModel)]="portfolioName"
                           (keydown.enter)="handleRename()"
                           (ngModelChange)="portfolioNameChanged($event)">
                </ng-template>
            </p-inplace>
        </ng-template>
    </p-menubar>
</div>