<div class="list-card">
    <div
        *ngIf="isLoading"
        class="spin-mask-overlay"
    >
        <div
            class="spinner-border text-primary"
            role="status"
        >
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <h3 class="section-title">{{title}}</h3>
    <div *ngFor="let item of items;">
        <div
            id="selectable-item"
            class="row w-100 justify-content-between list-card-item align-items-center align-content-center"
            (click)="select(item)"
        >
            <div class="col-12 m-1 p-1"> {{item[nameKey]}}</div>

        </div>

    </div>
    <div
        *ngIf="!items || items.length === 0"
        id="empty-message"
        class="row w-100 justify-content-between list-card-item align-items-center align-content-center"
    >
        <div
            (click)="handleEmptyAction()"
            class="col-12 m-1 p-1"
        > {{emptyMessage}}</div>

    </div>
</div>