<div class="page-top-margin-small"></div>
<div class="p-component container">
    <div class="row text-center mb-1 w-100">
        <p-header class="news-pg-label text-decoration-none text-2xl font-bold">{{title}}</p-header>
        <div class="flex: 0 0 100%; mt-1">
            <span class="news-pg-label font-bold p-1">Categories:</span>
            <span *ngFor="let c of allCategories">
                <app-news-category
                    (selected)="selectHandler($event)"
                    [category]="c"
                    [activeCategory]="activeCategory"
                >
                </app-news-category>
            </span>
        </div>
    </div>

    <div class="grid-nogutter w-100">
        <ng-container *ngIf="isLoading">
            <div
                class="container d-flex justify-content-center align-items-center"
                [style]="{height:'90vh',width:'95vw','margin-top':'-5vh'}"
            >
                <p-progressSpinner
                    [style]="{height:'20rem',width:'20rem'}"
                    [strokeWidth]='2'
                    fill="transparent"
                    animationDuration=".1s"
                ></p-progressSpinner>
            </div>
        </ng-container>
        <div [hidden]="isLoading">
            <div class="row row-cols-xl-4 row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
            <ng-container *ngFor="let item of feedView;let i = index;">
                    <app-article-feed-item
                        (open)="openHandler($event)"
                        [index]="i"
                        [content]="item"
                    >
                    </app-article-feed-item>
            </ng-container>
        </div>

        </div>
    </div>
</div>