#portfolio-container {
    height: 100% !important;
    width: 100% !important;
    overflow: hidden;
}

:host ::ng-deep .p-datatable-responsive-scroll > .p-datatable-wrapper {
    min-height: 25vh !important;
}

.table-options-panel {
    background: #000000 !important;
}

:host ::ng-deep .p-overlaypanel .p-overlaypanel-content {
    background: #000000 !important;
}

:host ::ng-deep .p-overlaypanel-content {
    background: #000000 !important;
}


:host ::ng-deep .p-component-overlay {
    display: none !important;
}
:host ::ng-deep .p-component-overlay-enter {
    display: none !important;
}


:host ::ng-deep .card {
    background: transparent !important;
}

/* ========================== Custom Scrollbar Styling ============================ */
/* width */
:host ::ng-deep ::-webkit-scrollbar {
    width: 4px !important;
    height: 4px !important;
}


/* Track */
::-webkit-scrollbar-track {
    background: var(--surface-ground) !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #24273a !important;
    border-radius: 10px 10px 10px 10px !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #31354e !important;
}
