<!-- Top Toolbar drawer -->
<app-toolbar
    #toolbar
    [styleClass]="isNavExpanded ? 'toolbar-wrapper-nav-expanded' : 'toolbar-wrapper-nav-contracted'"
    [tooltipOptions]="tooltipOptions"
    [mainLabelToolTip]="mainLabelToolTip"
    [isMain]="isMain"
    [label]="portfolioName"
    (onRename)="onRename($event)"
></app-toolbar>
<div class="page-top-margin-medium"></div>
<div class="p-component p-0 m-0">
    <div
        *ngIf="!isMobile()"
        class="row text-center mb-3 w-100"
    >
    </div>
    <ng-container *ngIf="portfolioService.isLoading || isLoading">
        <div
            class="container d-flex justify-content-center align-items-center"
            [style]="{height:'90vh',width:'95vw'}"
        >
            <p-progressSpinner
                [style]="{height:'20rem',width:'20rem'}"
                [strokeWidth]='2'
                fill="transparent"
                animationDuration=".1s"
            ></p-progressSpinner>
        </div>
    </ng-container>
    <!-- Portfolio Container (Tables/Workspace/Cards) -->
    <div
        id="portfolio-container"
        class="grid-nogutter p-0 m-0 w-100"
        [hidden]="portfolioService.isLoading"
        (click)="onContainerClick($event)"
    >
        <div
            class="col-12"
            style="margin-top: 3rem;"
        >
        </div>
        <div [ngSwitch]="viewType">
            <ng-container *ngSwitchCase="'portfolio-main-view'">
                <app-workspace
                    #workspace
                    [viewSource$]="portfolioService.portfolioAssetViewSource$"
                    [calculatedValuesSource$]="portfolioService.calculatedValuesSource$"
                    [screenSize]="screenSize"
                    [navExpandProvider]="navExpandProvider"
                    [allocationChartHeight]="allocationChartHeight"
                    [mainChartHeight]="mainChartHeight"
                    [chartType]="chartType"
                    [isShowAllocationChart]="isShowAllocationChart"
                >
                </app-workspace>
            </ng-container>
            <ng-container *ngSwitchCase="'portfolio-transaction-view'">
                <app-transaction-workspace
                    #transactionWorkspace
                    [transactionService]="transactionService"
                    [screenSize]="screenSize"
                    [navExpandProvider]="navExpandProvider"
                    [mainChartHeight]="mainChartHeight"
                    (onClick)="onTransactionWorkspaceClick($event)"
                >
                </app-transaction-workspace>
            </ng-container>
        </div>

        <div class="col-12 bg-transparent">
            <div
                class="bg-transparent"
                [ngSwitch]="viewType"
            >
                <ng-container *ngSwitchCase="'portfolio-main-view'">
                    <app-portfolio-table
                        #portfolioTable
                        [viewSource$]="portfolioService.portfolioAssetViewSource$"
                        [portfolioSource$]="portfolioService.portfolio$"
                        [calculatedValuesSource$]="portfolioService.calculatedValuesSource$"
                        [screenSize]="screenSize"
                        (onEdit)="openTransactionView($event)"
                        selectionMode="single"
                    ></app-portfolio-table>
                </ng-container>
                <ng-container *ngSwitchCase="'portfolio-transaction-view'">
                    <app-transaction-table
                        #transactionsTable
                        [service]="transactionService"
                        [screenSize]="screenSize"
                        (onBack)="onCloseTransactionView($event)"
                    ></app-transaction-table>
                </ng-container>
            </div>
        </div>
    </div>
</div>