#portfolio-container {
    height: 100% !important;
    width: 100% !important;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    overflow: hidden;
}

.mdc-button__label {
    color: var(--text-color) !important;
    font-size: 0.8rem !important;
}


:host ::ng-deep .p-overlaypanel .p-overlaypanel-content {
    font-size: 0.8rem !important;
}

:host ::ng-deep .p-overlaypanel-content {
    font-size: 0.8rem !important;
}

:host ::ng-deep .p-component-overlay {
    display: none !important;
}
:host ::ng-deep .p-component-overlay-enter {
    display: none !important;
}

/* ========================== Custom Scrollbar Styling ============================ */
/* width */
:host ::ng-deep ::-webkit-scrollbar {
    width: 4px !important;
    height: 4px !important;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--surface-ground) !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb) !important;
    border-radius: 10px 10px 10px 10px !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-hover-thumb) !important;
}
