<!-- Top Toolbar drawer -->
<app-toolbar
    #toolbar
    [navExpandProvider]="navExpandProvider"
    [dataSource]="portfolioService.portfolio$"
    [nameKey]="'portfolioName'"
    [service]="portfolioService"
    [menuItems]="toolbarMenuItems"
    [screenSize]="screenSize"
></app-toolbar>
<div class="page-top-margin-medium"></div>
<div class="p-component p-0 m-0">
    <div
        *ngIf="!isMobile()"
        class="row text-center mb-3 w-100"
    >
    </div>
    <ng-container *ngIf="portfolioService.isLoading || isLoading">
        <div
            class="container d-flex justify-content-center align-items-center"
            [style]="{height:'90vh',width:'95vw'}"
        >
            <p-progressSpinner
                [style]="{height:'20rem',width:'20rem'}"
                [strokeWidth]='2'
                fill="transparent"
                animationDuration=".1s"
            ></p-progressSpinner>
        </div>
    </ng-container>
    <!-- Portfolio Container (Tables/Workspace/Cards) -->
    <div
        id="portfolio-container"
        class="grid-nogutter p-0 m-0 w-100"
        [hidden]="portfolioService.isLoading"
        (click)="onContainerClick($event)"
    >
        <div
            class="col-12"
            style="margin-top: 3rem;"
        >
        </div>
        <!-- Workspace for custom portfolio parts/ componenets to render -->
        <app-workspace
            #workspace
            [viewSource]="portfolioService.portfolioAssetViewSource$"
            [calculatedValuesSource]="portfolioService.calculatedValuesSource$"
            [screenSize]="screenSize"
            [navExpandProvder]="navExpandProvider"
        >
        </app-workspace>

        <div class="col-12 bg-transparent">
            <div class="bg-transparent">
                <app-portfolio-table
                    #portfolioTable
                    [viewSource]="portfolioService.portfolioAssetViewSource$"
                    [portfolioSource]="portfolioService.portfolio$"
                    [calculatedValuesSource]="portfolioService.calculatedValuesSource$"
                    [screenSize]="screenSize"
                    selectionMode="single"
                ></app-portfolio-table>
            </div>
        </div>
    </div>
</div>