<div class="flex align-items-center justify-content-center"
    id="smCard"
    [style]="style">
    <div class="surface-card shadow-2 p-1 border-round">
        <span class="flex flex-row flex-grow-1 justify-content-between text-cyan-100 font-bold text-sm mb-1 mt-0">
            <div class="bg-transparent">
                <img [src]="imageSource"
                    style="width:2.5rem;height:2.5rem; margin:0.2rem" />
            </div>
            <div class="text-600 font-medium text-lg">{{title}}</div>
            <select-drop-down (result)="selectSourceAsset($event)"
                [hide]="!isEditing">
            </select-drop-down>
            <a mat-flat-button
                (click)="!isEditing?editBtnPressed($event):completeBtnPressed($event)"
                class="bg-transparent"
                style="cursor:pointer;">
                <i [class]="!isEditing?'pi pi-pencil':'pi pi-check text-green-300 font-bold'"></i>
            </a>
        </span>
        <div class="flex justify-content-between mb-1">
            <span class="block text-900 font-medium text-green-500">{{totalGains}}</span>
            <span class="block text-300">{{buyDate | date:'MM-dd-yyyy'}}</span>
        </div>
        <div class="flex justify-content-between">
            <span class="text-blue-100 font-medium float-start">{{totalValue}}</span>
            <span class="text-blue-100 float-end">{{quantity}}</span>
        </div>
    </div>
</div>