<p-table #edt
         id="portfolioDataExpandTable"
         [dataKey]="'transactionId'"
         [value]="parentData.transactions"
         [editingRowKeys]="editingRowKeys"
         [showLoader]="true"
         [loading]="isLoading"
         [paginator]="isShowPaginator()"
         responsiveLayout="scroll"
         responsive="true"
         [scrollable]="true"
         [scrollDirection]="'vertical'"
         [rows]="5"
         editMode="row"
         [showCurrentPageReport]="true"
         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} assets">
    <ng-template pTemplate="colgroup">
        <colgroup>
            <col style="max-width:20%;">
            <col style="max-width:20%;">
            <col style="max-width:20%;">
            <col style="max-width:20%;">
            <col style="max-width:20%;">
        </colgroup>
    </ng-template>
    <ng-template pTemplate="header">
        <tr class="header-box-special-trans">
            <!-- Transaction Id Header -->
            <th class="expanded-table-header"
                style="border-bottom: 1px solid #062b5f;">
                #
            </th>
            <!-- Type of transaction Header-->
            <th class="expanded-table-header"
                style="border-bottom: 1px solid #062b5f;">
                Type
            </th>
            <!-- Price of Asset at time of transaction Header-->
            <th class="expanded-table-header"
                style="border-bottom: 1px solid #062b5f;">
                Unit Price (Unit Cost)
            </th>
            <!-- Total Units (Quantity) Held -->
            <th class="expanded-table-header"
                style="border-bottom: 1px solid #062b5f;">
                Quantity
            </th>

            <!-- Row Actions Header -->
            <th class="expanded-table-header"
                style="border-bottom: 1px solid #062b5f;">
                Actions
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body"
                 let-editing="editing"
                 let-rowIndex
                 let-rowData>
        <tr [pEditableRow]="rowData"
            class="cell-box-special">

            <!-- Transaction Id -->
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <div class="p-fluid">
                            <div> {{rowData.transactionId}}</div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="output">
                        <div> {{rowData.transactionId}}</div>
                    </ng-template>
                </p-cellEditor>
            </td>
            <!-- Transaction Type -->
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <div class="p-fluid">
                            <p-dropdown [options]="transactionTypeOptions"
                                        appendTo="body"
                                        [(ngModel)]="rowData.type"
                                        optionLabel="type"
                                        optionValue="type"
                                        inputId="transactionTypeDropdown"
                                        [style]="{'max-height':'2rem'}"></p-dropdown>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="output">
                        <div> {{rowData.type}}</div>
                    </ng-template>
                </p-cellEditor>
            </td>
            <!-- Unit Price -->
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <div class="p-fluid">
                            <p-inputNumber [(ngModel)]="rowData.unitPrice"
                                           mode="decimal"
                                           prefix="$"
                                           [minFractionDigits]="2"
                                           [maxFractionDigits]="20"
                                           placeholder="Unit Purchase Price"
                                           inputId="unitCosBasis"
                                           [style]="{'max-height':'2rem'}"></p-inputNumber>
                            <small *ngIf="errorMap[rowData.id] && errorMap[rowData.id]['costBasis']['required']"
                                   class="p-error block">Cost Required </small>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="output">
                        <div> {{formatBalance(rowData.unitPrice)}}</div>
                    </ng-template>
                </p-cellEditor>
            </td>
            <!-- Quantity -->
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <div class="p-fluid">
                            <p-inputNumber [(ngModel)]="rowData.quantity"
                                           step="1"
                                           incrementButtonClass="bg-transparent text-white w-1rem"
                                           decrementButtonClass="bg-transparent text-white w-1rem"
                                           [showButtons]="true"
                                           mode="decimal"
                                           min="0"
                                           [minFractionDigits]="2"
                                           [maxFractionDigits]="20"
                                           placeholder="Enter Quantity"
                                           [style]="{'max-height':'2rem'}"></p-inputNumber>
                            <small *ngIf="errorMap[rowData.id] && errorMap[rowData.id]['quantity']['required']"
                                   class="p-error block">Quantity Required </small>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="output">
                        <div> {{rowData.quantity}}</div>
                    </ng-template>
                </p-cellEditor>
            </td>
            <!-- Actions -->
            <td class="m-0 p-0"
                style="padding:0.3rem 0.3rem; cursor: pointer;">
                <a #rowOptionsIcon
                   mat-flat-button
                   *ngIf="!editing"
                   (click)="nestedActionPanel.toggle($event)"
                   class="cursor-pointer bg-transparent">
                    <i class="pi pi-ellipsis-v"
                       [style]="{'font-size':'1.2rem','cursor':'pointer'}">
                    </i>
                </a>
                <button *ngIf="editing"
                        [disabled]="hasErrors()"
                        pButton
                        type="button"
                        pSaveEditableRow
                        icon="pi pi-check"
                        (click)="onRowEditSave(rowData)"
                        class="p-button-rounded p-button-text p-button-success mr-2"></button>
                <button *ngIf="editing"
                        pButton
                        type="button"
                        pCancelEditableRow
                        icon="pi pi-times"
                        (click)="onRowEditCancel($event,rowData,rowIndex)"
                        class="p-button-rounded p-button-text p-button-danger"></button>
            </td>

            <!-- Actions/Options Overlay -->
            <p-overlayPanel #nestedActionPanel
                            appendTo="body"
                            class="cursor-pointer"
                            [showTransitionOptions]="'0.9ms'"
                            [hideTransitionOptions]="'0.9ms'"
                            [dismissable]="true"
                            [baseZIndex]="1000001">
                <ng-template pTemplate>
                    <ul style="list-style: none;"
                        class="p-0 m-0">
                        <li class="p-0 m-0">
                            <a mat-flat-button
                               pInitEditableRow
                               type="button"
                               class="cursor-pointer bg-transparent border-none p-0 w-7rem text-left"
                               (click)="onRowEditInit(rowData,rowIndex)">
                                <i class="pi pi-pencil">
                                </i>
                                Edit
                            </a>
                        </li>

                        <li class="p-0 m-0">
                            <a mat-flat-button
                               class="cursor-pointer bg-transparent border-none p-0 w-7rem text-left"
                               type="button"
                               (click)="onRowRemove(rowData,rowIndex)">
                                <i class="pi pi-trash"
                                   [style]="{'font-size':'1.2rem','cursor':'pointer'}">
                                </i>
                                Delete
                            </a>
                        </li>
                    </ul>
                </ng-template>
            </p-overlayPanel>
        </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
        <tr style="width: 100%;height:fit-content;"
            class="text-center">
            <td colspan="8"
                class="text-center"
                style="white-space: nowrap; font-size: medium;margin:0 auto;vertical-align:middle; height: fit-content;">
                <a mat-flat-button
                   (click)="addNewTransaction()"
                   class="bg-transparent"
                   style="font-size: medium;">
                    <i class="pi pi-plus"></i> Add a Transaction.
                </a>
            </td>
        </tr>
    </ng-template>
</p-table>