<div class="m-0 p-0">
    <div [hidden]="isLoading">
        <p-carousel
            [value]="feedItems"
            [numVisible]="1"
            [numScroll]="1"
            [circular]="true"
            [autoplayInterval]="7000"
            [showNavigators]="false"
            [responsiveOptions]="responsiveOptions"
            [showIndicators]="showIndicators"
        >
            <ng-template pTemplate="header">
                <h2
                    class="text-center text-white text-2xl font-bold"
                    style="margin:0 auto;"
                ></h2>
            </ng-template>
            <ng-template
                let-feedItem
                pTemplate="item"
            >
                <div class="p-1 m-1 pb-0 mb-0 ">
                    <article-card
                        (open)="openHandler($event)"
                        [rss-item]="feedItem"
                        [isCarousel]="true"
                        [showImagePreview]="true"
                    >
                    </article-card>
                </div>
            </ng-template>
        </p-carousel>

    </div>
</div>