<p-sidebar
    #settingsSidebar
    [(visible)]="visible"
    [dismissible]="true"
    [closeOnEscape]="true"
    [showCloseIcon]="true"
    [blockScroll]="true"
    [modal]="false"
    position="right"
>
    <ng-template pTemplate="header">
        <div class="sidebar-header">Settings</div>
    </ng-template>
    <ng-template pTemplate="content">
        <div class="p-2">
            <section class="mb-5">
                <div class="row w-100 justify-content-center">
                    <span class="flex justify-content-around p-3">
                        <div class="sidebar-sub-header">Theme</div>
                        <button
                            mat-flat-button
                            id="lightBtn"
                            [class]="(selectedTheme === 'soho-light')?'active-theme': 'inactive-theme'"
                            (click)="changeTheme('soho-light')"
                        >
                            <i class="pi pi-fw pi-sun"></i>
                        </button>
                        <button
                            mat-flat-button
                            id="darkBtn"
                            [class]="(selectedTheme === 'soho-dark')?'active-theme': 'inactive-theme'"
                            (click)="changeTheme('soho-dark')"
                        >
                            <i class="pi pi-fw pi-moon"></i>
                        </button>


                    </span>
                </div>
            </section>

        </div>

    </ng-template>
    <ng-template pTemplate="footer"></ng-template>
</p-sidebar>