footer {
  width: 100%;
  font-size: medium;
  font-weight: bold;
  align-content: baseline;
  bottom: 0;
  margin-bottom: 0;
  margin-top: 1rem;
  list-style: none;
  overflow-x: hidden;
  color: var(--text-color);
}

.nav-link {
  color: var(--text-color) !important;
}

.footer-link {
  text-decoration: none !important;
  font-size: 1rem !important;
  color: var(--text-color-secondary) !important;
}
