<p-scrollTop></p-scrollTop>
<div
    class="mt-3"
    id="dash"
>
    <div class="grid-nogutter w-100">
        <div class="col-12">
            <div
                [hidden]="!isGlobalDataLoading"
                class="text-center"
                [style]="{height:'100%',width:'100%'}"
            >
                <p-progressSpinner
                    [style]="{height:'10rem',width:'10rem','margin-top':'7rem','margin-bottom':'7rem'}"
                    [strokeWidth]='6'
                    fill="transparent"
                    animationDuration=".1s"
                ></p-progressSpinner>
            </div>
        </div>

        <div class="grid-nogutter">
            <div class="row">
                <div class="xl:col-12 sm:col-12">
                    <app-news-carosel></app-news-carosel>
                </div>
            </div>
        </div>
        <!-- Top Global by market share -->
        <div class="grid-nogutter w-100">
            <div class="row text-center w-100">
                <p-header style="font-size: 1rem;">Top Market Share</p-header>
            </div>
            <div class="row row-cols-xl-5 row-cols-lg-3 row-col-md-3">
                <div *ngFor="let g of topMarketShareItems; index as i; count as c;">
                    <a
                        (click)="onCardClicked(g)"
                        style="cursor:pointer"
                    >
                        <p-card class="p-component feature-card m-1">
                            <ng-template pTemplate="header">
                                <div
                                    *ngIf="g.price_change_24h >= 0"
                                    class="increased text-xl float-end p-2"
                                >
                                    <span>{{g.price_change_24h + '%'}} <i class="fa fa-arrow-up"></i></span>

                                </div>
                                <div
                                    *ngIf="g.price_change_24h < 0"
                                    class="decreased text-xl float-end p-2"
                                >
                                    <span>{{g.price_change_24h + '%'}}<i class="fa fa-arrow-down"></i></span>
                                </div>
                                <div>
                                    <img
                                        class="w-4rem h-auto border-round p-2"
                                        alt="trending-item-img"
                                        [src]="g.image"
                                        [style]="{'max-width':'4rem'}"
                                    >
                                </div>
                                <div class="text-white float-end m-1 p-2 text-3xl">{{g.name}}</div>
                                <div class="center float-start m-1 p-2 text-xl">
                                    <div [class]="g.price_change_24h < 0 ? 'decreased':'increased'">
                                        {{g.current_price}}
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="body">
                            </ng-template>
                            <ng-template pTemplate="footer">
                                <div class="center">
                                    <app-sparkline
                                        [maxWidth]="'100%'"
                                        [maxHeight]="'6rem'"
                                        [chart-data]="g.sparkline"
                                        [xaxis-labels]="coinDataService.getSparklineLabels()"
                                    >
                                    </app-sparkline>
                                </div>
                            </ng-template>
                        </p-card>
                    </a>
                </div>
            </div>
        </div>
        <!-- Trending -->
        <div class="grid-nogutter w-100">
            <div class="row text-center w-100">
                <p-header style="font-size: 1rem;">Trending</p-header>
            </div>
            <div class="row row-cols-xl-5 row-cols-lg-3 row-col-md-3">
                <div *ngFor="let t of trendingItems; index as i; count as c;">
                    <a
                        (click)="onCardClicked(t)"
                        style="cursor:pointer"
                    >
                        <p-card class="p-component feature-card m-1">
                            <ng-template pTemplate="header">
                                <div
                                    *ngIf="t.price_change_24h >= 0"
                                    class="increased text-xl float-end p-2"
                                >
                                    <span>{{t.price_change_24h + '%'}} <i class="fa fa-arrow-up"></i></span>

                                </div>
                                <div
                                    *ngIf="t.price_change_24h < 0"
                                    class="decreased text-xl float-end p-2"
                                >
                                    <span>{{t.price_change_24h + '%'}}<i class="fa fa-arrow-down"></i></span>
                                </div>
                                <div>
                                    <img
                                        class="w-4rem h-auto border-round p-2"
                                        alt="trending-item-img"
                                        [src]="t.image"
                                        [style]="{'max-width':'4rem'}"
                                    >
                                </div>
                                <div class="text-white float-end m-1 p-2 text-3xl">{{t.name}}</div>
                                <div class="center float-start m-1 p-2 text-xl">
                                    <div [class]="t.price_change_24h < 0 ? 'decreased':'increased'">
                                        {{t.current_price}}
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="body">
                            </ng-template>
                            <ng-template pTemplate="footer">
                                <div class="center">
                                    <app-sparkline
                                        [maxWidth]="'100%'"
                                        [maxHeight]="'6rem'"
                                        [chart-data]="t.sparkline"
                                        [xaxis-labels]="coinDataService.getSparklineLabels()"
                                    >
                                    </app-sparkline>
                                </div>
                            </ng-template>
                        </p-card>
                    </a>
                </div>
            </div>
        </div>

        <!-- ------------------------ Coins By Market Cap---------------------- -->
        <div class="col-12 w-100">
            <div class="card">
                <p-table
                    [value]="coinsByMarketCap"
                    styleClass="p-table-custom"
                    [style]="{width:'100%'}"
                    responsiveLayout="scroll"
                    [loading]="isCoinsByMarketCapLoading"
                    [loadingIcon]="loadingIcon"
                    [rows]="rows"
                    [totalRecords]="totalRecords"
                    [first]="first"
                    [lazy]="true"
                    (onLazyLoad)="loadCoinsLazy($event)"
                    [paginator]="true"
                    [showFirstLastIcon]="false"
                    [paginatorPosition]="'both'"
                    [showPageLinks]="true"
                    [showCurrentPageReport]="false"
                    selectionMode="single"
                    [(selection)]="selectedCoin"
                    (onRowSelect)="onRowSelect($event)"
                >
                    <ng-template pTemplate="caption">
                        <div class="flex align-items-center justify-content-between">
                            <h2
                                class="caption-label-md"
                                style="margin:0 auto; background-color: transparent;"
                            >
                                Crytocurrencies <span style="font-size:small;">by Market Cap</span></h2>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th>
                                {{mainColumnDefs[0].header}}
                            </th>
                            <th>
                                {{mainColumnDefs[1].header}}
                            </th>
                            <th>
                                {{mainColumnDefs[2].header}}
                            </th>
                            <th [width]="100">
                                {{mainColumnDefs[3].header}}
                            </th>
                            <th>
                                {{mainColumnDefs[4].header}}
                            </th>
                            <th>
                                {{mainColumnDefs[5].header}} <delta-icon></delta-icon>
                            </th>
                            <th>
                                {{mainColumnDefs[6].header}}
                            </th>
                            <th>
                                {{mainColumnDefs[7].header}}
                            </th>
                            <th [width]="170">
                                {{mainColumnDefs[8].header}}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template
                        pTemplate="body"
                        let-coinMarket
                    >
                        <tr [pSelectableRow]="coinMarket">
                            <td><img
                                    [src]=coinMarket[mainColumnDefs[0].field]
                                    [alt]="coinMarket[mainColumnDefs[1].field]"
                                    width="30"
                                /></td>
                            <td [width]="30">{{coinMarket[mainColumnDefs[1].field]}}
                            </td>
                            <td>{{coinMarket[mainColumnDefs[2].field]}}
                            </td>
                            <td [width]="100">{{coinMarket[mainColumnDefs[3].field]}}
                            </td>
                            <td>{{coinMarket[mainColumnDefs[4].field]}}
                            </td>
                            <td>
                                <span [class]="coinMarket[mainColumnDefs[5].field] < 0 ? 'decreased' :'increased'">
                                    {{coinMarket[mainColumnDefs[5].field] + '%'}}</span>
                            </td>
                            <td>{{coinMarket[mainColumnDefs[6].field]}}
                            </td>
                            <td>{{coinMarket[mainColumnDefs[7].field]}}
                            </td>
                            <!-- sparkline -->
                            <td
                                [width]="170"
                                [style]="{'padding':'0.1rem 0.1rem'}"
                            >
                                <app-sparkline
                                    [maxHeight]="'3rem'"
                                    [maxWidth]="'12rem'"
                                    [chart-data]="coinMarket[mainColumnDefs[8].field]"
                                    [xaxis-labels]="coinDataService.getSparklineLabels()"
                                >
                                </app-sparkline>
                            </td>
                        </tr>
                    </ng-template>

                </p-table>

            </div>
        </div>
    </div>