#dash {
    height: 100% !important;
    width: 100% !important;
    padding-left: 1rem;
    padding-right: 1rem;
}

tr td {
    padding: 0.5rem 0.5rem;
}

#chart {
    max-width: 350px;
    margin: 1px auto;
}

.caption-label-md {
    background-color: transparent !important;
}

.p-table-custom {
    background-color: transparent !important;
}

.card {
    background: transparent !important;
}

:host ::ng-deep .special-card > p-card .p-card-content {
    padding: 0.1rem !important;
}

:host ::ng-deep .p-card {
    transition: transform 0.2s;
    text-decoration: none;
}

:host ::ng-deep .p-card:hover {
    transform: scale(1.05);
}

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
    position: -webkit-sticky;
    z-index: 999999999 !important;
    position: sticky !important;
    top: 50px;
}

@media screen and (max-width: 64em) {
    :host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
        top: 0px;
    }
}
