<p-scrollTop></p-scrollTop>
<div
    class="mt-3"
    id="dash"
>
    <div class="grid-nogutter w-100">
        <div class="col-12">
            <div
                [hidden]="!isGlobalDataLoading"
                class="text-center"
                [style]="{height:'100%',width:'100%'}"
            >
                <p-progressSpinner
                    [style]="{height:'10rem',width:'10rem','margin-top':'7rem','margin-bottom':'7rem'}"
                    [strokeWidth]='2'
                    fill="transparent"
                    animationDuration="1s"
                ></p-progressSpinner>
            </div>
        </div>

        <div class="grid-nogutter">
            <div
                class="row flex-xl-nowrap flex-lg-nowrap flex-md-wrap-reverse flex-sm-wrap-reverse flex-xs-wrap-reverse">
                <!-- ------------------------ Crypto Table By Market Cap---------------------- -->

                <div class="xl:col-9">
                    <div class="card">
                        <p-table
                            #bigCoinsTable
                            [value]="coinsByMarketCap"
                            [rowTrackBy]="rowTrackBy"
                            styleClass="p-table-custom"
                            [style]="{width:'100%'}"
                            [loading]="isCoinsByMarketCapLoading"
                            [loadingIcon]="loadingIcon"
                            [rows]="rows"
                            [totalRecords]="totalRecords"
                            [first]="first"
                            [lazy]="true"
                            (onLazyLoad)="loadCoinsLazy($event)"
                            [paginator]="true"
                            [showFirstLastIcon]="false"
                            [paginatorPosition]="'both'"
                            [showPageLinks]="true"
                            [showCurrentPageReport]="false"
                            selectionMode="single"
                            [(selection)]="selectedCoin"
                            (onRowSelect)="onRowSelect($event)"
                        >
                            <ng-template pTemplate="caption">
                                <div class="flex align-items-center justify-content-between">
                                    <h2
                                        class="caption-label-md"
                                        style="margin:0 auto; background-color: transparent;"
                                    >
                                        Crytocurrencies <span style="font-size:small;">by Market Cap</span></h2>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <th pFrozenColumn>
                                    </th>
                                    <th>
                                        {{mainColumnDefs[0].header}}
                                    </th>
                                    <th pFrozenColumn>
                                        {{mainColumnDefs[1].header}}
                                    </th>
                                    <th>
                                        {{mainColumnDefs[2].header}}
                                    </th>
                                    <th [width]="100">
                                        {{mainColumnDefs[3].header}}
                                    </th>
                                    <th>
                                        {{mainColumnDefs[4].header}}
                                    </th>
                                    <th>
                                        {{mainColumnDefs[5].header}} <delta-icon></delta-icon>
                                    </th>
                                    <th>
                                        {{mainColumnDefs[6].header}}
                                    </th>
                                    <th>
                                        {{mainColumnDefs[7].header}}
                                    </th>
                                    <th [width]="170">
                                        {{mainColumnDefs[8].header}}
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template
                                pTemplate="body"
                                let-coinMarket
                            >
                                <tr [pSelectableRow]="coinMarket">
                                    <!-- Star Icon, Add to Watchlist -->
                                    <td
                                        [width]="30"
                                        pFrozenColumn
                                    >
                                        <a
                                            #favoriteButtonTable
                                            (click)="favoriteButtonClicked(favoriteButtonTable)"
                                            class="favorite--button-wrapper"
                                        >
                                            <i
                                                id="favorite--icon-table"
                                                [ngClass]="isTracked ? 'fa-solid fa-star' : 'fa-regular fa-star' "
                                            ></i>
                                        </a>
                                    </td>

                                    <td pFrozenColumn><img
                                            [src]=coinMarket[mainColumnDefs[0].field]
                                            [alt]="coinMarket[mainColumnDefs[1].field]"
                                            width="30"
                                        /></td>
                                    <td [width]="30">{{coinMarket[mainColumnDefs[1].field]}}
                                    </td>
                                    <td>{{coinMarket[mainColumnDefs[2].field]}}
                                    </td>
                                    <td [width]="100">{{coinMarket[mainColumnDefs[3].field]}}
                                    </td>
                                    <td>{{coinMarket[mainColumnDefs[4].field]}}
                                    </td>
                                    <td>
                                        <span
                                            [class]="coinMarket[mainColumnDefs[5].field] < 0 ? 'decreased' :'increased'"
                                        >
                                            {{coinMarket[mainColumnDefs[5].field] + '%'}}</span>
                                    </td>
                                    <td>{{coinMarket[mainColumnDefs[6].field]}}
                                    </td>
                                    <td>{{coinMarket[mainColumnDefs[7].field]}}
                                    </td>
                                    <!-- sparkline -->
                                    <td
                                        [width]="170"
                                        [style]="{'padding':'0.1rem 0.1rem'}"
                                    >
                                        <app-sparkline
                                            [color]="coinMarket[mainColumnDefs[5].field] < 0 ? '#ff1100' :'#00ff59'"
                                            [maxHeight]="'3rem'"
                                            [maxWidth]="'12rem'"
                                            [chart-data]="coinMarket[mainColumnDefs[8].field]"
                                            [xaxis-labels]="coinDataService.getSparklineLabels()"
                                        >
                                        </app-sparkline>
                                    </td>
                                </tr>
                            </ng-template>

                        </p-table>

                    </div>
                </div>

                <div class="xl:col-3 xs:col-12">
                    <app-news-carosel></app-news-carosel>
                    <!-- Watch List -->
                    <app-editable-card
                        class="card h-fit"
                        [items]="[]"
                        title="Watch List"
                        (onSelect)="onCardClicked($event)"
                    ></app-editable-card>
                    <!-- Top Market Share Card -->
                    <app-trending-card
                        class="card h-fit"
                        [items]="topMarketShareItems"
                        title="Top Market Share"
                        (onSelect)="onCardClicked($event)"
                    ></app-trending-card>
                    <!-- Top Trending Coins Card -->
                    <app-trending-card
                        class="card h-fit"
                        title=" Most Active"
                        [items]="trendingItems"
                        (onSelect)="onCardClicked($event)"
                    ></app-trending-card>
                </div>

            </div>
        </div>
    </div>
</div>