<a
    (click)="openArticle($event)"
    class="cursor-pointer"
>
    <p-card
        id="article-card"
        class="feature-card m-1"
        [hidden]="showArticle"
    >
        <ng-template pTemplate="header">
            <div
                id="article-date"
                class="text-gray-100 text-500 float-end pt-1 ps-1 pe-1 pb-0"
            >{{feedContent.publishedDate | date: 'fullDate'}}
            </div>
            <div *ngIf="showImagePreview && feedContent.featureImageUrl !== ''">
                <img
                    class="w-6rem h-auto border-round"
                    alt="news-item-img"
                    [src]="feedContent.featureImageUrl"
                    [style]="{'max-width':'6rem'}"
                >
            </div>
        </ng-template>
        <ng-template pTemplate="body">
            <div
                class="text-white text-sm center m-0 p-0"
            >{{feedContent.title}}</div>
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="mb-5"></div>
        </ng-template>
    </p-card>
</a>