.favorite--button-wrapper {
  cursor: pointer;
  float: right;
}

.detail-page-wrapper {
  min-height: 80vh !important;
  width: 100% !important;
}

tr td {
  padding: 0.3rem 0.3rem;
  font-size: 0.8rem;
  font-weight: bold;
}

.p-datatable .p-datatable-tbody > tr {
  font-size: 0.9rem;
  font-weight: bold;
  border-top: 1px solid var(--border-accent);
  border-bottom: 1px solid var(--border-accent);
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr {
  font-size: 0.9rem;
  font-weight: bold;
  border-top: 1px solid var(--border-accent);
  border-bottom: 1px solid var(--border-accent);
}

.p-datatable .p-datatable-tbody > tr:hover {
  background: var(--hover-bg) !important;
}

.p-table-custom {
  font-size: 0.8rem;
  font-weight: bold;
  background-color: transparent !important;
}

.card {
  box-shadow: 1px 1px 1px var(--surface-border);
  background: var(--card-bg-color) !important;
  padding: 0.3rem;
  border-radius: 10px;
  margin-bottom: 2rem;
}

:host ::ng-deep p-header {
  color: var(--text-color) !important;
}

.inline--text-description {
  font-size: 0.9rem !important;
  font-weight: bold !important;
  color: var(--text-color) !important;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr {
  background: var(--card-bg-color) !important;
  padding: 0.5rem 0.5rem !important;
}

.chart-type-btn-wrapper {
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#priceSwapBtn,
#volumeSwapBtn {
  color: var(--text-color) !important;
  border-radius: 5px 5px 5px 5px;
  border: solid 1px var(--hover-bg) !important;
}

.active-chart {
  background-color: #00000059 !important;
  border: solid 1px var(--hover-bg) !important;
  color: var(--text-color) !important;
  font-weight: bold;
}

.inactive-chart {
  background-color: transparent !important;
  color: var(--text-color) !important;
  border: solid 1px var(--hover-bg) !important;
  font-weight: normal;
}

.active-chart:hover {
  background-color: var(--hover-bg) !important;
  border: solid 1px var(--hover-bg) !important;
  color: var(--text-color) !important;
  font-weight: bold;
}

.inactive-chart:hover {
  background-color: transparent !important;
  color: var(--text-color) !important;
  border: solid 1px var(--hover-bg) !important;
  font-weight: normal;
}

#favorite--icon {
  font-size: 2rem;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: var(--star-color) !important;
}

.token-header-image {
  height: auto;
  width: auto;
  max-height: calc(3rem + 1.7vw);
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}

.card-content {
  font-weight: bold;
  color: var(--text-color);
}

.dynamic-content {
  font-size: 1rem;
  font-weight: bold;
  color: var(--text-color);
}

.coin-resource-title-content {
  font-size: calc(1.9rem + 2vw);
  color: var(--text-color);
}

.coin-header-description {
  font-size: medium;
  font-weight: bold;
  color: var(--text-color);
}

.card-title {
  font-size: 1.4rem;
  font-weight: bold;
  opacity: 80%;
  color: var(--text-color);
}

i {
  color: var(--text-negative-color) !important;
}

.med-card-content {
  font-size: medium;
  font-weight: bold;
  color: var(--text-color-secondary);
}

.lrg-card-content {
  font-size: 1rem;
  color: var(--text-color-secondary);
}

.sm-card-content {
  font-size: small;
  font-weight: normal;
}

.basic-card-link {
  font-weight: bold;
  color: var(--text-color-link) !important;
  text-decoration: none;
}

.chip-dark {
  background-color: var(--card-bg-color) !important;
}
