<div class="container w-100 h-100 p-3">
    <div class="row text-center mt-1 mb-1 w-100">
        <p-header class="text-decoration-none text-5xl font-bold">{{title}}</p-header>
        <h3 class="text-decoration-none text-gray-100 text-3xl">{{subTitle}}</h3>
        <div class="font-bold text-gray-200 p-1">{{publishedDate | date: 'fullDate'}}</div>
        <div class="flex: 0 0 100%; mt-1">
            <span *ngFor="let c of categories">
                <p-chip [label]=c styleClass="m-1 bg-blue-900"></p-chip>
            </span>
        </div>
        <span class="row m-1 p-1 w-100 text-center">
            <div class="font-bold text-gray-200 p-1 float-start"> {{articleSource}} </div>
        </span>
    </div>
    <div class="container p-2 m-1">
        <style>
            img {
                max-width: 80vw !important;
                height: auto;
            }
        </style>
        <div [innerHtml]="htmlContent">
        </div>
    </div>
</div>