.workspace--style {
    margin-top: 1rem;
    min-height: 25vh !important;
    width: 100%;
}

.workgrid--totals {
    overflow-x: auto !important;
    border: 1px solid var(--surface-d);
    border-radius: 20px 20px 20px 20px;
    padding: 0.5rem !important;
}
