.ws-caption-label-special {
    color: var(--text-color);
    font-size: 1rem;
    font-weight: bold;
    font-weight: bold;
    width: 100% !important;
}

.ws-caption-label-data {
    color: var(--text-color-secondary);
    font-size: 1rem;
    font-weight: bold;
    font-weight: bold;
    width: 100% !important;
}

.workspace--style {
    min-height: 25vh !important;
    width: 100%;
}

.workgrid--totals {
    overflow-x: auto !important;
    padding: 0.5rem !important;
}

.card {
    background: transparent !important;
    border: solid var(--border-accent) 1px !important;
    border-radius: 15px !important;
}
