<mat-toolbar role="heading">
  <button
    mat-flat-button
    (click)="navMenuTogglePressed()"
  >
    <i
      class="pi pi-bars"
      [style]="{'margin-top': '10px','color':'var(--text-color)'}"
    ></i>
  </button>
  <button
    mat-flat-button
    (click)="home()"
  >
    <span class="px-3">
      <img
        class="main-logo"
        [src]="mainLogoSrc"
      />
    </span>
  </button>
  <span class="navbar-message">
    <span
      class="font-bold"
      style="font-size: 0.7rem;"
      [hidden]="(screenSize === 'XSmall' || screenSize === 'Small')"
    >
      <span class="tbar-stat-title">Market Cap:</span>
      <span class="tbar-stat">
        {{globalDataView.total_market_cap_usd_formated}}
      </span>
      <span
        *ngIf="globalDataView.market_cap_change_percentage_24h_usd >= 0"
        class="increased"
      >
        <span> {{globalDataView.market_cap_change_percentage_24h_usd_formated}}
          <i
            class="fa fa-arrow-up"
            style="font-size: 0.7rem;"
          ></i></span>

      </span>
      <span
        *ngIf="globalDataView.market_cap_change_percentage_24h_usd < 0"
        class="decreased"
      >
        <span> {{globalDataView.market_cap_change_percentage_24h_usd_formated}}
          <i
            class="fa fa-arrow-down"
            style="font-size: 0.7rem;"
          ></i></span>
      </span>
      <span class="mx-2"></span>
      <span class="tbar-stat-title">24hr Volume:</span>
      <span class="mr-1"></span>
      <span class="tbar-stat">{{globalDataView.total_volume_formated}} </span>
      <span class="mx-2"></span>
      <span class="tbar-stat-title">Active Currencies:</span>
      <span class="mr-1"></span>
      <span class="tbar-stat">{{globalDataView.active_cryptocurrencies}} </span>
      <span class="mx-2"></span>
      <span class="tbar-stat-title">Markets:</span>
      <span class="mr-1"></span>
      <span class="tbar-stat">{{globalDataView.markets}} </span>
    </span>
  </span>
  <span class="toolbar-nav-itmes">
    <button
      #searchButton
      [hidden]="searchVisible || screenSize === 'XSmall'"
      mat-icon-button
      type="button"
      (click)="toggleSearchInput($event)"
      class="float-start"
    >
      <span class="toolbar-icon">
        <i class="pi pi-fw pi-search"></i>
      </span>
    </button>
    <span
      (click)="searchPanel.toggle($event)"
      class="float-start"
      [hidden]="screenSize === 'XSmall'"
    >
      <form
        #searchForm
        id="searchForm"
      >
        <span #searchInputWrapper>
          <input
            [@showHideSearchBox]="searchVisible ? 'show' : 'hide'"
            pInputText
            type="text"
            [formControl]="searchField"
            name="searchInput"
            id="search"
            [style.max-width]="screenSize === 'Small' ? '150px' : '300px'"
            class="p-component p-inputtext-sm text-white form-control"
            placeholder="Search tokens"
            aria-describedby="helpId"
            autocomplete="off"
          >
        </span>
      </form>
    </span>
    <!-- Settings Menu Button -->
    <button
      #settingsButton
      mat-icon-button
      type="button"
      (click)="toggleSettings($event)"
      class="float-start mx-2"
    >
      <span class="toolbar-icon">
        <i class="pi pi-sliders-h"></i>
      </span>
    </button>

    <div class="p-1 mt-2 ms-2">
      <button
        mat-icon-button
        type="button"
        (click)="accountPanel.toggle($event)"
        class="float-start me-1"
      >
        <span>

          <ng-container *ngIf="isSignedIn;else signedOut">
            <img
              [src]="userProfilePictureSource"
              class="profile-picture-icon"
            >
          </ng-container>
          <ng-template #signedOut>
            <div
              *ngIf="!isSignedIn"
              class="profile-picture-icon"
            >
              <i
                class="pi pi-user"
                [style]="{'color':'var(--text-primary)','font-size':'1.4rem'}"
              ></i>
              <i
                class="fa-regular fa-chevron-down"
                [style]="{'color':'var(--text-primary)','font-size':'0.8rem','vertical-align':'middle'}"
              ></i>
            </div>
          </ng-template>
        </span>

      </button>
    </div>
  </span>
</mat-toolbar>
<mat-sidenav-container
  class="sidenav-container"
  [style.marginTop.px]="screenSize === 'XSmall' ? 56 : 0"
  id="nav-container"
>

  <mat-sidenav
    #snav
    [class]="getMainNavStyleClass()"
    [mode]="screenSize === 'XSmall' ? 'over':'side'"
    [opened]="navOpened"
    (openedChange)="navMenuOpenedChange($event)"
    [fixedTopGap]="screenSize === 'XSmall' ? 56 : 62"
    [style.z-index]="1000"
    [fixedInViewport]="true"
  >

    <p-panelMenu
      id="nav--menu-main"
      [style]="{'width': 'auto','height':'auto'}"
      [model]="sessionService.authenticated ? signedInNavItems : signedOutNavItems"
    >
    </p-panelMenu>
    <div class="font-monospace">
      <div [hidden]="sessionService.authenticated">
        <div class="px-2 py-4 md:px-3 lg:px-4">
          <div class="text-center">
            <div class="text-blue-300 font-bold mb-1"><i class="pi pi-lock-open">
              </i>&nbsp;SIGN IN TO TRACK AND MANAGE YOUR PORTFOLIO</div>
            <div class="text-center mb-2 mt-2">
              <a
                class="no-underline ml-2 cursor-pointer"
                (click)="googleSignIn()"
              >
                <img
                  [src]="googleIconSrc"
                  class="google-org-icon"
                />
              </a>
              <a
                class="font-medium no-underline ml-2 text-blue-300 cursor-pointer"
                (click)="facebookSignIn()"
              >
                <i
                  class="pi pi-facebook"
                  style="font-size:xx-large;vertical-align: middle;"
                ></i>
              </a>
              <a
                class="font-medium no-underline ml-2 text-black-300 cursor-pointer"
                (click)="githubSignIn()"
              >
                <i
                  class="pi pi-github"
                  style="font-size:xx-large;vertical-align: middle;"
                ></i>
              </a>
            </div>
            <button
              type="button"
              pButton
              label="Try as Guest User"
              icon="fas fa-user-shield"
              (click)="guestSignIn()"
              class="font-bold px-3 py-2 p-button-sm p-button-raised p-button-rounded white-space-nowrap"
            ></button>
          </div>
        </div>
      </div>
    </div>


  </mat-sidenav>

  <mat-sidenav-content>
    <!-- Settins Menu, right side panel -->
    <app-settings
      #settingsComponent
      [(visible)]="settingsVisible"
      [settings]="userPreferences"
      (settingsChange)="settingsChanged($event)"
    ></app-settings>
    <!-- Bottom-right Toast Message -->
    <p-toast
      position="bottom-right"
      [style]="{'max-width': '100%'}"
      key="toast"
    ></p-toast>
    <!-- Center Toast with Prompt -->
    <p-toast
      position="center"
      key="prompt-toast"
      (onClose)="onPromptToastReject($event)"
    >
      <ng-template
        let-message
        pTemplate="message"
      >
        <div
          class="flex flex-column"
          style="flex: 1"
        >
          <div class="text-center">
            <i
              class="pi pi-exclamation-triangle"
              style="font-size: 3rem"
            ></i>
            <h4>{{message.summary}}</h4>
            <p>{{message.detail}}</p>
          </div>
          <div class="grid p-fluid">
            <div class="col-6">
              <button
                type="button"
                pButton
                (click)="onPromptToastConfirm($event)"
                label="Yes"
                class="p-button-success"
              ></button>
            </div>
            <div class="col-6">
              <button
                type="button"
                pButton
                (click)="onPromptToastReject($event)"
                label="No"
                class="p-button-secondary"
              ></button>
            </div>
          </div>
        </div>
      </ng-template>
    </p-toast>
    <!-- Search Dropdown Panel -->
    <p-overlayPanel
      #searchPanel
      [dismissable]="true"
    >
      <ng-template pTemplate>
        <app-search
          #appSearch
          [selectOptions]="getFilteredCoins() | async"
          [scrollHeight]="410"
          [ddStyleClass]=""
        ></app-search>
      </ng-template>
    </p-overlayPanel>
    <!-- Account Menu Dropdown Panel -->
    <p-overlayPanel
      #accountPanel
      (onShow)="onShowAccountMenu($event)"
      styleClass="p-overlaypanel-account-menu"
    >
      <ng-template pTemplate>
        <p-menu
          styleClass="p-menu-account-menu"
          [model]="sessionService.authenticated ? accountMenuItems: signedOutAccountMenuItems"
          class="container w-100 h-100 p-0 m-0"
        >
        </p-menu>
      </ng-template>
    </p-overlayPanel>
    <router-outlet class="div-scrollable">
    </router-outlet>

    <!-- Login Popup Modal -->
    <p-dialog
      [(visible)]="sessionService.showLoginModal"
      [modal]="true"
      [style]="(screenSize === 'XSmall' || screenSize === 'Small') ? {width:'100vw'} : {width:'50vw'}"
      [draggable]="false"
      [baseZIndex]="9999999999"
      [resizable]="false"
    >
      <!-- Bottom-right Toast Message -->
      <p-toast
        position="top-center"
        key="login-toast"
      >
      </p-toast>
      <app-login #login></app-login>
    </p-dialog>
    <!-- Registration Popup Modal -->
    <p-dialog
      [(visible)]="sessionService.showRegisterModal"
      [modal]="true"
      [style]="(screenSize === 'XSmall' || screenSize === 'Small') ? {width:'100vw'} : {width:'50vw'}"
      [draggable]="false"
      [resizable]="false"
    >
      <app-register #register></app-register>
    </p-dialog>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>