mat-toolbar {
  position: fixed;
  background-color: var(--main-toolbar-bg-color);
  left: 0;
  right: 0;
  top: 0;
  margin: 0;
  padding: 0;
  z-index: 1000;
}

a:hover {
  color: var(--menu-item-hover) !important;
}

li a:hover {
  color: var(--menu-item-hover) !important;
}

:host ::ng-deep .p-sidebar-right {
  z-index: 1111111 !important;
  top: 64px !important;
  border-radius: 0 !important;
  border: 0px none transparent !important;
  background: var(--surface-card) !important;
  backdrop-filter: blur(10px) !important;
}

@media screen and (max-width: 800px) {
  :host ::ng-deep .p-sidebar .p-sidebar-right {
    top: 56px !important;
    border-radius: 0 !important;
  }
}

.tbar-stat-title {
  color: var(--text-exag-title-color);
}

.tbar-stat {
  color: var(--text-exag-for-color);
}

::ng-deep .p-menu {
  width: 100% !important;
  height: 100% !important;
  background: transparent !important;
  border: 0px none transparent !important;
  border-radius: 0px !important;
}

.toolbar-nav-itmes {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100% !important;
  padding: 0 1rem;
}

.fa .fa-user-circle {
  font-size: 2rem;
  vertical-align: unset;
}

.profile-picture-icon {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 0.3rem !important;
  height: 100% !important;
  width: 100% !important;
  border-radius: 50px !important;
  vertical-align: unset !important;
  color: var(--text-color);
}

.default-profile-picture-icon {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  font-size: 2.2rem !important;
  padding: 0.4rem !important;
  height: 100% !important;
  width: 100% !important;
  border-radius: 50px !important;
  vertical-align: middle !important;
}

.toolbar-icon {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  font-size: 2.2rem !important;
  padding: 0.4rem !important;
  height: 100% !important;
  width: 100% !important;
  border-radius: 50px !important;
  vertical-align: middle !important;
  float: inline-start !important;
}

:host ::ng-deep .p-dialog-content {
  overflow-y: auto !important;
}

#nav--menu-main {
  background-color: var(--surface-ground);
}

:host ::ng-deep .p-panelmenu .p-panelmenu-header > a {
  padding: 1rem !important;
  border-radius: 6px;
  transition: box-shadow 0.2s;
}

:host ::ng-deep .p-panelmenu .p-panelmenu-panel {
  margin-bottom: 0px !important;
}

:host ::ng-deep .p-panelmenu .p-menuitem-link {
  text-align: start !important;
  justify-content: start !important;
  font-size: 1.2rem !important;
}

:host ::ng-deep .p-panelmenu .p-panelmenu-header > a {
  background: transparent !important;
  font-size: 0.9rem !important;
}

:host ::ng-deep .p-panelmenu .p-panelmenu-header > a:hover {
  background: var(--hover-bg) !important;
  color: var(--text-accent) !important;
}

:host ::ng-deep .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link {
  background: transparent !important;
  color: var(--text-accent) !important;
  font-size: 0.9rem !important;
}

:host ::ng-deep .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:hover {
  background: var(--hover-bg) !important;
  color: var(--text-accent) !important;
}

:host ::ng-deep .p-panelmenu .p-panelmenu-content {
  background: transparent;
  font-size: 0.9rem !important;
}

.signed-in {
  color: var(--increase-color);
}

.signed-out {
  color: var(--decrease-color);
}

#search {
  background-color: var(--surface-ground);
}

button {
  background-color: transparent;
  color: var(--text-color);
}

mat-toolbar > button:hover {
  background-color: var(--hover-bg);
}

i {
  font-size: 1.5rem;
  font-weight: bold;
}

.div-scrollable {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
}

.mobile--side-nav {
  min-width: 100% !important;
  min-height: 100% !important;
}

.non-mobile--side-nav {
  width: 200px !important;
  max-width: 210px !important;
  max-height: 100% !important;
}

/* ========================== Custom Scrollbar Styling Side Nav ============================ */
/* width */
:host ::ng-deep mat-sidenav {
  ::-webkit-scrollbar {
    width: 2px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--surface-ground);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border-radius: 10px 10px 10px 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-hover-thumb);
  }
}

:host ::ng-deep .p-panelmenu .p-panelmenu-panel :hover {
  background-color: transparent;
}

.nav-action-link {
  font-size: large;
  font-weight: normal;
}

:host ::ng-deep .p-button {
  margin: 0 0.5rem 0 0;
  max-height: 6rem !important;
  height: 2rem !important;
}

p {
  margin: 0;
}

.confirmation-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

:host ::ng-deep .p-toast-message-custom {
  background-color: var(--toast-bg-color);
  border-radius: 3px 3px 3px 3px;
  color: var(--toast-text-color);
}

:host ::ng-deep .p-toast-icon-close {
  color: var(--toast-close-color);
  border-radius: 3px 3px 3px 3px;
}

.google-org-icon {
  width: 2.1rem;
  height: 2.1rem;
}
