#tracking-container {
    margin-top: 5rem;
    height: 100% !important;
    width: 100% !important;
    min-height: 81vh !important;
}

.empty-table-message {
    white-space: nowrap !important;
    font-size: large !important;
    justify-content: center !important;
    align-items: center !important;
}

.table-options-panel {
    background: #000000 !important;
}

:host ::ng-deep .p-overlaypanel .p-overlaypanel-content {
    background: #000000 !important;
}

:host ::ng-deep .p-overlaypanel-content {
    background: #000000 !important;
}

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
    white-space: nowrap !important;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.4rem 0.4rem !important;
}

:host ::ng-deep .p-component-overlay {
    display: none !important;
}
:host ::ng-deep .p-component-overlay-enter {
    display: none !important;
}

:host ::ng-deep .p-sidebar-mask {
    display: none !important;
}

:host ::ng-deep .p-datatable .p-datatable-loading-icon {
    font-size: 10rem !important;
    color: #0882a4 !important;
}

:host ::ng-deep .p-datatable .p-paginator-top {
    border-width: 0 0 0 0 !important;
}

:host ::ng-deep .p-datatable .p-datatable-header {
    background: transparent !important;
    border: none !important;
}

:host ::ng-deep .p-datatable .p-datatable-header {
    background: transparent !important;
    border: none !important;
    border-width: 0 0 0 0;
    padding: 0.5rem 0.5rem !important;
    font-weight: 700;
}

:host ::ng-deep .p-datatable .p-paginator-bottom {
    background: transparent !important;
    border: none !important;
    border-width: 0 0 0 0;
    padding: 0.5rem 0.5rem !important;
}

:host ::ng-deep .p-datatable .p-paginator-bottom {
    border-width: 0 0 0 0 !important;
}

:host ::ng-deep .p-datatable .p-paginator .p-paginator-bottom {
    background-color: transparent !important;
    background: transparent !important;
}

:host ::ng-deep .p-datatable > .p-paginator .p-paginator-top {
    background-color: transparent !important;
    background: transparent !important;
}
.card {
    box-shadow: 1px 1px 1px var(--surface-border);
    background: transparent !important;
    padding: 0.3rem;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.p-datatable .p-datatable-header {
    padding: 0.4rem 0.4rem !important;
}

:host ::ng-deep .p-datatable .p-datatable-header {
    padding: 0.2rem 0.2rem !important;
}

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
    padding: 0.4rem 0.4rem !important;
}

:host ::ng-deep .p-datatable .p-datatable-footer {
    background: transparent;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr {
    cursor: pointer;
}


.p-table-custom {
    background-color: transparent !important;
}

.card {
    background: transparent !important;
    border: solid var(--border-accent) 1px !important;
    border-radius: 15px !important;
}

:host ::ng-deep .p-card {
    transition: transform 0.2s;
    text-decoration: none;
}

:host ::ng-deep .p-card:hover {
    transform: scale(1.05);
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr {
    background: transparent !important;
}