<a
    (click)="openArticle($event)"
    class="w-100"
>
    <article class="article-parent-class">
        <section>
            <span class="grid-nogutter w-100">
                <span class="row w-100">
                    <div class="col-2 h-100">
                        <div
                            class="bg-img-wrapper"
                            *ngIf="cleanedNewsItem.featureImageUrl !== ''"
                        >
                            <img
                                class="card-image"
                                alt="news-item-img"
                                [src]="cleanedNewsItem.featureImageUrl"
                            >
                        </div>
                    </div>
                    <div class="col-10 h-100">
                        <div class="content-wrapper">
                            <div class="feed-article-date">
                                {{cleanedNewsItem.publishedDate | date:'dd/MM/yyyy'}}
                            </div>
                            <p>
                                {{cleanedNewsItem.author}}
                            </p>
                            <h2 class="feed-item-title">
                                {{cleanedNewsItem.title}}
                            </h2>
                        </div>
                    </div>
                </span>
            </span>
        </section>
    </article>
</a>
<hr class="color:transparent;">