<div class="m-1 p-1">
    <a
        (click)="openArticle($event)"
        class="article-card-wrapper"
    >
        <div
            class="article-card-main"
        >
            <div
                class="card-image-wrapper"
                *ngIf="cleanedNewsItem.featureImageUrl !== ''"
            >
                <img
                    class="card-image"
                    alt="news-item-img"
                    [src]="cleanedNewsItem.featureImageUrl"
                >
            </div>

            <div class="article-content-wrapper">
                <div class="article-date">
                    {{cleanedNewsItem.publishedDate | date: 'fullDate'}}
                </div>
                <div class="news-card-title">{{cleanedNewsItem.title}}</div>
            </div>
        </div>
    </a>

</div>