<div class="container w-100 h-100" [style]="{
    'width': '100%',
    'height':'100%'
    }">
    <div class="scrollbox-wrapper">
        <p-virtualScroller #vs [value]='coinService.getValue()' [scrollHeight]="scrollHeight()" [itemSize]="45"
            [rows]="45" [maxBufferPx]="1200" [minBufferPx]="1200" [style]="{'text-align': 'center'}">
            <ng-template pTemplate="item" let-item let-i="index" let-c="count" style="width:100%">
                <div (click)="outputSelected(item.id)" class="scroll-item-portfolio">
                    <div>{{item.name}}</div>
                </div>
            </ng-template>
        </p-virtualScroller>
    </div>
</div>