* {
    color: var(--text-color) !important;
}

.sign-in-provider {
    width: 100% !important;
}

.custom-btn-style {
    color: var(--surface-ground) !important;
}


.custom-btn-style:hover {
    background: transparent !important;
    color: var(--text-color) !important;
}
