<p-dialog
    [visible]="visible"
    (visibleChange)="visibleChange.emit($event)"
    [modal]="true"
    [style]="{width:'100vw', height:'100vh', 'max-width':'100vw', 'max-height':'100vh'}"
    [draggable]="false"
    [baseZIndex]="12009"
    [resizable]="false"
    blockScroll="true"
>
    <ng-template pTemplate="header">
        <div class="login-logo">
            <img
                [src]='mainLogoSrc'
                alt="Image"
                class="img-fluid m-0 p-0"
            >
        </div>
    </ng-template>
    <div [style]="contentStyle" class="flex justify-content-center">
        <div class="p-component container surface-card shadow-2 border-round z-auto xl:p-4 lg:p-3 md:p-2 sm:p-0">
            <div class="text-center">
                <div class="text-900 text-3xl font-medium mb-1">Sign In</div>
                <span class="text-600 font-medium line-height-1">Please choose a sign in method:</span>
            </div>
            <span class="row text-400 font-medium justify-content-center mb-1 mt-1">

            </span>
            <label
                for="email1"
                class="block text-900 font-medium mb-1"
            >Email</label>
            <input
                id="email1"
                placeholder="email@example.com"
                type="email"
                pInputText
                class="w-full mb-1"
                [(ngModel)]="email"
            >

            <label
                for="password1"
                class="block text-900 font-medium mb-1"
            >Password</label>
            <input
                id="password1"
                placeholder="password"
                type="password"
                pInputText
                class="w-full mb-1"
                [(ngModel)]="password"
            >
            <div class="flex w-100 justify-content-center">
                <button
                    pButton
                    pRipple
                    label="Sign In"
                    icon="pi pi-user"
                    [disabled]="!isValid()"
                    class="w-75 font-bold p-button-raised p-button-squared p-button-info"
                    (click)="signInHandler($event)"
                ></button>
            </div>
            <div class="flex w-100 justify-content-center font-bold">
                <div class="row w-100 m-0 p-0">
                    <div class="col-2"></div>
                    <div class="straight-line-wrapper col-3">
                        <div class="straight-line"></div>
                    </div>
                    <div class="col-2">
                        <div class="text-center">or</div>
                    </div>
                    <div class="straight-line-wrapper col-3">
                        <div class="straight-line"></div>
                    </div>
                    <div class="col-2"></div>

                </div>
            </div>
            <span class="row m-1 w-100"></span>
            <div class="flex w-100 justify-content-center">
                <div
                    pButton
                    pRipple
                    class="w-75 font-bold p-button-raised p-button-squared guest-btn-style"
                    label="Guest User"
                    icon="fas fa-user-shield"
                    (click)="signInTempAccount()"
                >
                </div>
            </div>

            <span class="row m-1 w-100"></span>
            <div class="flex w-100 justify-content-center">
                <div
                    pButton
                    pRipple
                    class="font-bold p-button-raised p-button-squared custom-btn-style text-center"
                    (click)="googleSignIn()"
                >
                    <img
                        style="max-height:36px !important;"
                        [src]="googleIconSrc"
                    />
                </div>
                <div
                    pButton
                    pRipple
                    class="font-bold p-button-raised p-button-squared custom-btn-style text-center"
                    (click)="facebookSignIn()"
                > <img
                        style="max-height:36px !important;"
                        [src]="facebookIconSrc"
                    /></div>
                <div
                    pButton
                    pRipple
                    class="font-bold p-button-raised p-button-squared custom-btn-style text-center"
                    (click)="githubSignIn()"
                > <img
                        style="max-height:36px !important;"
                        [src]="githubIconSrc"
                    />
                </div>
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <div class="row w-100 flex justify-content-center text-center p-1 mt-1 pb-5">
            <span class="text-600 font-medium">Don't have an account?
                <a
                    class="font-medium no-underline ml-2 cursor-pointer"
                    (click)="navigateRegister()"
                >
                    <span style="color:var(--blue-500) !important;">Register Here</span>
                </a>
            </span>
        </div>
    </ng-template>

</p-dialog>