<div class="p-component container surface-card shadow-2 border-round w-full z-auto">
    <div class="text-center mb-1">
        <div class="login-logo">
            <img
                [src]='mainLogoSrc'
                alt="Image"
                class="mb-1"
            >
        </div>
        <div
            class="mb-1"
            [style]="{'font-size':'1.2rem'}"
        >Please choose a sign in method</div>
    </div>
    <div [style]="contentStyle">
        <div>
            <label
                for="email1"
                class="block text-900 font-medium mb-1"
            >Email</label>
            <input
                id="email1"
                placeholder="email@example.com"
                type="email"
                pInputText
                class="w-full mb-1"
                [(ngModel)]="email"
            >

            <label
                for="password1"
                class="block text-900 font-medium mb-1"
            >Password</label>
            <input
                id="password1"
                placeholder="password"
                type="password"
                pInputText
                class="w-full mb-1"
                [(ngModel)]="password"
            >

            <button
                pButton
                pRipple
                label="Sign In"
                icon="pi pi-user"
                [disabled]="!isValid()"
                class="w-full font-bold p-button-raised p-button-rounded p-button-info"
                (click)="signInHandler($event)"
            ></button>
        </div>


        <div class="row w-100 text-center"><span class="w-100 font-bold">or</span></div>
        <button
            pButton
            pRipple
            class="w-full font-bold p-button-raised p-button-rounded"
            label="Try as Guest User"
            icon="fas fa-user-shield"
            (click)="signInTempAccount()"
        ></button>


        <span class="row m-1 w-100"></span>

        <div class="mb-1">
            <button
                pButton
                pRipple
                class="w-full font-bold p-button-raised p-button-rounded"
                label="Continue with Google"
                icon="fab fa-google"
                (click)="googleSignIn()"
            ></button>
            <span class="row m-1 w-100"></span>
            <div class="mb-1">
                <button
                    pButton
                    pRipple
                    class="w-full font-bold p-button-raised p-button-rounded"
                    label="Continue with Facebook"
                    icon="pi pi-facebook"
                    (click)="facebookSignIn()"
                ></button>
                <span class="row m-1 w-100"></span>
                <button
                    pButton
                    pRipple
                    class="w-full font-bold p-button-raised p-button-rounded"
                    label="Continue with Github"
                    icon="pi pi-github"
                    (click)="githubSignIn()"
                ></button>
            </div>

            <span class="row text-400 font-medium justify-content-center mb-1 mt-1">
                <a
                    id="register"
                    class="text-color-link ml-2 text-center cursor-pointer no-underline font-large font-bold"
                    (click)="navigateRegister()"
                >Register Here
                </a>
            </span>

        </div>

    </div>

</div>