.scrollbox-wrapper {
    position: relative;
    text-align: center;
    max-width: 100% !important;
    max-height: 100% !important;
    min-width: 100% !important;
    min-height: 100% !important;
}

.scroll-item {
    display: inline-block;
    width: 100% !important;
    min-width: 100% !important;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    cursor: pointer;
}

.scroll-item :hover {
    color: var(--text-color);
    cursor: pointer;
}
