<!-- Top Toolbar drawer -->
<app-toolbar
    #toolbar
    [styleClass]="isNavExpanded ? 'toolbar-wrapper-nav-expanded' : 'toolbar-wrapper-nav-contracted'"
    [isMain]="isMain"
    [tooltipOptions]="tooltipOptions"
    [label]="watchListName"
    (onRename)="onRename($event)"
></app-toolbar>
<div class="page-top-margin-medium"></div>
<p-dialog
    #assetSearchDialog
    header="Search and Select"
    [(visible)]="showAssetSearchDialog"
    [position]="modalPostion"
    [baseZIndex]="9999999"
    appendTo="body"
    [dismissableMask]="true"
    [closeOnEscape]="true"
    [modal]="true"
    [style]="dialogStyle"
    [draggable]="false"
    [closable]="true"
    [focusTrap]="true"
    [resizable]="false"
>
    <app-search-select
        [optionsProvider]="coinSource$"
        [scrollHeight]="searchScrollHeight"
        [maxWidth]="maxSearchWidth"
        (selected)="addTrackSelected($event)"
    >
    </app-search-select>
</p-dialog>
<div class="p-component p-0 m-0">
    <div
        *ngIf="!isMobile()"
        class="row text-center mb-3 w-100"
    >
    </div>
    <div
        class="col-12"
        style="margin-top: 3rem;"
    >
    </div>
    <div class="p-component container">
        <div id="tracking-container">
            <div
                class="col-12"
                style="height: 2vh; margin-top: 2rem;"
                (click)="onContainerClick($event)"
            >
            </div>

            <div class="grid-nogutter w-100">
                <ng-container *ngIf="isLoading">
                    <div
                        class="container d-flex justify-content-center align-items-center"
                        [style]="{height:'90vh',width:'95vw','margin-top':'-5vh'}"
                    >
                        <p-progressSpinner
                            [style]="{height:'20rem',width:'20rem'}"
                            [strokeWidth]='2'
                            fill="transparent"
                            animationDuration=".1s"
                        ></p-progressSpinner>
                    </div>
                </ng-container>
                <div [hidden]="isLoading">
                    <div class="grid-nogutter p-1">
                        <div class="col-12">
                            <div class="caption-label-special">Total Assets:
                                <span class="caption-label-data">
                                    {{getTrackedCount()}}
                                </span>
                            </div>

                        </div>
                    </div>
                    <div class="col-12 w-100">
                        <div
                            class="card"
                            (click)="onContainerClick($event)"
                        >
                            <p-table
                                #trackedAssetTable
                                id="tracked-asset-table-id"
                                [value]="view"
                                styleClass="p-table-custom"
                                responsiveLayout="scroll"
                                [rows]="100"
                                [loading]="isLoading"
                                [loadingIcon]="loadingIcon"
                                [paginator]="true"
                                [showFirstLastIcon]="false"
                                [paginatorPosition]="'both'"
                                [showPageLinks]="true"
                                [showCurrentPageReport]="false"
                                selectionMode="single"
                                [(selection)]="selectedAsset"
                                (onRowSelect)="onRowSelect($event)"
                            >
                                <ng-template pTemplate="caption">
                                    <div class="flex align-items-center justify-content-between">
                                        <h2
                                            id="tracking-list-header"
                                            class="caption-label"
                                        >
                                            Watched Assets</h2>
                                        <a
                                            mat-flat-button
                                            (click)="showAssetSearchContainer($event)"
                                            type="button"
                                            class="table-action-btn"
                                            tooltipPosition="left"
                                        >
                                            <i
                                                class="pi pi-plus"
                                                style="color:var(--text-color)"
                                            ></i>
                                            <span class="caption-label"> Track New</span>
                                        </a>
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="colgroup">
                                    <colgroup>
                                        <!-- Image -->
                                        <col style="min-width:14.285%;">
                                        <!-- Asset Name -->
                                        <col style="min-width:14.285%;">
                                        <!-- Current Price -->
                                        <col style="min-width:14.285%;">
                                        <!-- 24hr Change -->
                                        <col style="min-width:14.285%;">
                                        <!-- 1hr Change -->
                                        <col style="min-width:14.285%;">
                                        <!-- 7d Change -->
                                        <col style="min-width:14.285%;">
                                        <!-- 7d Change -->
                                        <col style="min-width:14.285%;">
                                    </colgroup>
                                </ng-template>
                                <ng-template pTemplate="header">
                                    <tr class="header-box-special">
                                        <th
                                            [width]="100"
                                            class="header-text"
                                        >
                                            Icon
                                        </th>
                                        <th
                                            [width]="160"
                                            class="header-text"
                                            pSortableColumn="name"
                                        >
                                            Name
                                            <p-sortIcon field="name">
                                            </p-sortIcon>
                                        </th>
                                        <th class="header-text">
                                            Price
                                        </th>
                                        <th class="header-text">
                                            24hr <delta-icon></delta-icon>
                                        </th>
                                        <th class="header-text">
                                            1hr <delta-icon></delta-icon>
                                        </th>
                                        <th class="header-text">
                                            7d <delta-icon></delta-icon>
                                        </th>
                                        <th class="header-text">
                                            7 Day Sparkline
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template
                                    pTemplate="body"
                                    let-rowData
                                >
                                    <!-- Actions/Options Overlay -->
                                    <p-overlayPanel
                                        #rowPanel
                                        [id]="'rowPanel' + rowData.id"
                                        class="cursor-pointer"
                                        [style]="{ 'background': overlayBgColor }"
                                        [showTransitionOptions]="'0.9ms'"
                                        [hideTransitionOptions]="'0.9ms'"
                                        [dismissable]="false"
                                        [baseZIndex]="1000001"
                                        (onShow)="onRowPanelShow($event)"
                                        appendTo="body"
                                    >
                                        <ng-template pTemplate>
                                            <ul
                                                style="list-style: none;"
                                                class="p-0 m-0"
                                            >

                                                <li class="p-0 m-0">
                                                    <a
                                                        mat-flat-button
                                                        class="cursor-pointer bg-transparent border-none p-0"
                                                        type="button"
                                                        (click)="deleteTrackedAsset(rowData)"
                                                    >
                                                        <i
                                                            class="pi pi-trash"
                                                            [style]="{'font-size':'0.8rem','cursor':'pointer'}"
                                                        >
                                                        </i>
                                                        Delete
                                                    </a>
                                                </li>

                                                <li class="p-0 m-0">
                                                    <a
                                                        mat-flat-button
                                                        class="cursor-pointer bg-transparent border-none p-0"
                                                        type="button"
                                                        (click)="openAssetInfo(rowData)"
                                                    >
                                                        <i
                                                            class="pi pi-external-link"
                                                            [style]="{'font-size':'0.8rem','cursor':'pointer'}"
                                                        >
                                                        </i>
                                                        Asset Info
                                                    </a>
                                                </li>
                                            </ul>
                                        </ng-template>
                                    </p-overlayPanel>
                                    <tr
                                        [pSelectableRow]="rowData"
                                        (click)="onRowClick($event,rowPanel)"
                                    >
                                        <td style="padding:0.3rem 0.3rem"><img
                                                [src]="rowData['image']['small']"
                                                alt="asset--image-thumb"
                                                style="height:24px;width:auto;"
                                            /> </td>
                                        <td style='padding:0.3rem 0.3rem'>
                                            <div>{{rowData['name']}}</div>
                                        </td>
                                        <td style="padding:0.3rem 0.3rem">
                                            <div> {{rowData['market_data']['current_price']['usd'] |
                                            currency:'USD':'$':'1.1-12'}}</div>
                                        </td>
                                        <td style="padding:0.3rem 0.3rem">
                                            <span
                                                [class]="rowData['market_data']['price_change_percentage_24h_in_currency']['usd'] < 0 ? 'decreased' :'increased'"
                                            >
                                                {{formatPercentData(rowData,'24hr')}}</span>
                                        </td>
                                        <td style="padding:0.3rem 0.3rem">
                                            <span
                                                [class]="rowData['market_data']['price_change_percentage_1h_in_currency']['usd'] < 0 ? 'decreased' :'increased'"
                                            >
                                                {{formatPercentData(rowData,'1hr')}}</span>
                                        </td>
                                        <td style="padding:0.3rem 0.3rem">
                                            <span
                                                [class]="rowData['market_data']['price_change_percentage_7d_in_currency']['usd'] < 0 ? 'decreased' :'increased'"
                                            >
                                                {{formatPercentData(rowData,'7d')}}</span>
                                        </td>
                                        <!-- sparkline -->
                                        <td
                                            [width]="sparklineWidth"
                                            [style]="{'padding':'0.1rem 0.1rem'}"
                                        >
                                            <app-sparkline
                                                [maxHeight]="'3rem'"
                                                [maxWidth]="'16rem'"
                                                [color]="rowData['market_data']['price_change_percentage_24h_in_currency']['usd'] < 0 ? decreaseColor : increaseColor"
                                                [contrastColor]="textColor"
                                                [showUnderline]="true"
                                                [chart-data]="rowData['market_data']['sparkline_7d']['price']"
                                                [xaxis-labels]="coinDataService.getSparklineLabels()"
                                            >
                                            </app-sparkline>
                                        </td>

                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="summary">
                                    <div class="flex align-items-center justify-content-between">
                                        <span style="font-size: 0.7rem;"> Updated:
                                            {{currentDate | date: 'short'}}</span>
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr
                                        style="height: 20vh;width: 100%"
                                        class="text-center"
                                    >
                                        <th
                                            colspan="7"
                                            class="text-center empty-table-message"
                                        >
                                            <span>
                                                Add assets to your watchlist to get started.
                                            </span>
                                        </th>
                                    </tr>
                                </ng-template>

                            </p-table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>