<div class="search-panel-style-class">
    <input
        type="text"
        pInputText
        [formControl]="searchField"
        name="searhField"
        id="search"
        class="p-component p-inputtext-sm form-control mb-1"
        placeholder="Search"
        autocomplete="off"
    >
    <div class="scrollbox-wrapper">
        <p-virtualScroller
            #vs
            itemSize="40"
            [value]="filteredAssets"
            [scrollHeight]="scrollHeight"
            [options]="options"
        >
            <ng-template
                pTemplate="item"
                let-item
                let-i="index"
                let-c="count"
            >
                <div
                    (click)="select(item.id)"
                    class="scroll-item"
                >
                    <div class="cursor-pointer">{{item.name}}</div>
                </div>
            </ng-template>
        </p-virtualScroller>
    </div>
</div>