<div class="grid-nogutter w-100">
    <ng-container *ngIf="isLoading">
        <div
            class="container d-flex justify-content-center align-items-center"
            [style]="{height:'90vh',width:'95vw','margin-top':'-5vh'}"
        >
            <p-progressSpinner
                [style]="{height:'20rem',width:'20rem'}"
                [strokeWidth]='2'
                fill="transparent"
                animationDuration=".1s"
            ></p-progressSpinner>
        </div>
    </ng-container>
    <p-dialog
        #transactionDialog
        header="Add/Edit Transaction"
        [(visible)]="showTransactionDialog"
        [position]="modalPostion"
        [baseZIndex]="9999999"
        appendTo="body"
        [dismissableMask]="true"
        [closeOnEscape]="true"
        [modal]="true"
        [style]="{ 'width': 'auto', 'height': 'auto' }"
        [draggable]="false"
        [closable]="true"
        [focusTrap]="true"
        [resizable]="false"
    >
    </p-dialog>
    <div [hidden]="isLoading">
        <div class="col-12 w-100">
            <div class="card">
                <p-table
                    #table
                    id="transaction-table"
                    [dataKey]="'transactionId'"
                    [value]="transactions"
                    [editingRowKeys]="editingRowKeys"
                    [showLoader]="true"
                    [loading]="isLoading"
                    [paginator]="isShowPaginator()"
                    [scrollable]="true"
                    [scrollDirection]="'vertical'"
                    [rows]="5"
                    editMode="row"
                    [showCurrentPageReport]="true"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} assets"
                >
                    <ng-template pTemplate="caption">
                        <div class="flex align-items-center justify-content-between">
                            <a
                                mat-flat-button
                                (click)="returnToPortfolioTable($event)"
                                type="button"
                                class="table-action-btn"
                                tooltipPosition="left"
                            >
                                <i
                                    class="pi pi-arrow-left"
                                    style="font-size: 0.9rem;font-weight: bold;"
                                ></i>
                                <span class="caption-label"> Back to Portfolio</span>
                            </a>
                        </div>
                        <div class="flex align-items-center justify-content-end">
                            <a
                                mat-flat-button
                                (click)="addNewTransaction()"
                                type="button"
                                class="table-action-btn"
                                tooltipPosition="left"
                            >
                                <i
                                    class="pi pi-plus"
                                    style="font-size: 0.9rem;font-weight: bold;"
                                ></i>
                                <span class="caption-label">Add Transaction</span>
                            </a>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="colgroup">
                        <colgroup>
                            <col style="max-width:20%;">
                            <col style="max-width:20%;">
                            <col style="max-width:20%;">
                            <col style="max-width:20%;">
                            <col style="max-width:20%;">
                            <col style="max-width:20%;">
                        </colgroup>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr class="header-box-special-trans">
                            <!-- Transaction Id Header -->
                            <th
                                class="expanded-table-header"
                                style="border-bottom: 1px solid #062b5f;"
                            >
                                #
                            </th>
                            <!-- Type of transaction Header-->
                            <th
                                class="expanded-table-header"
                                style="border-bottom: 1px solid #062b5f;"
                            >
                                Type
                            </th>
                            <!-- Price of Asset at time of transaction Header-->
                            <th
                                class="expanded-table-header"
                                style="border-bottom: 1px solid #062b5f;"
                            >
                                Unit Price (Unit Cost)
                            </th>
                            <!-- Total Units (Quantity) Held -->
                            <th
                                class="expanded-table-header"
                                style="border-bottom: 1px solid #062b5f;"
                            >
                                Quantity
                            </th>
                            <th
                                class="expanded-table-header"
                                style="border-bottom: 1px solid #062b5f;"
                            >
                                Date
                            </th>
                            <th
                                *ngIf="editing"
                                class="expanded-table-header"
                                style="border-bottom: 1px solid #062b5f;"
                            >
                                Actions
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template
                        pTemplate="body"
                        let-editing="editing"
                        let-rowIndex="rowIndex"
                        let-rowData
                    >
                        <tr
                            [pSelectableRow]="rowData"
                            (click)="onRowClick($event,rowPanel)"
                            [pEditableRow]="rowData"
                            class="cell-box-special"
                        >
                            <!-- Transaction Id -->
                            <td>
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <div class="p-fluid">
                                            <div> {{rowData.transactionId}}</div>
                                        </div>
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        <div> {{rowData.transactionId}}</div>
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                            <!-- Transaction Type -->
                            <td>
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <div class="p-fluid">
                                            <p-dropdown
                                                [options]="transactionTypeOptions"
                                                appendTo="body"
                                                [(ngModel)]="rowData.type"
                                                optionLabel="type"
                                                optionValue="type"
                                                inputId="transactionTypeDropdown"
                                                [style]="{'max-height':'2rem'}"
                                            ></p-dropdown>
                                        </div>
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        <div> {{rowData.type}}</div>
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                            <!-- Unit Price -->
                            <td>
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <div class="p-fluid">
                                            <p-inputNumber
                                                [(ngModel)]="rowData.unitPrice"
                                                mode="decimal"
                                                prefix="$"
                                                [minFractionDigits]="2"
                                                [maxFractionDigits]="20"
                                                placeholder="Unit Purchase Price"
                                                inputId="unitCosBasis"
                                                [style]="{'max-height':'2rem'}"
                                            ></p-inputNumber>
                                            <small
                                                *ngIf="errorMap[rowData.id] && errorMap[rowData.id]['costBasis']['required']"
                                                class="p-error block"
                                            >Cost Required </small>
                                        </div>
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        <div> {{formatBalance(rowData.unitPrice)}}</div>
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                            <!-- Quantity -->
                            <td>
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <div class="p-fluid">
                                            <p-inputNumber
                                                [(ngModel)]="rowData.quantity"
                                                step="1"
                                                incrementButtonClass="bg-transparent text-white w-1rem"
                                                decrementButtonClass="bg-transparent text-white w-1rem"
                                                [showButtons]="true"
                                                mode="decimal"
                                                min="0"
                                                [minFractionDigits]="2"
                                                [maxFractionDigits]="20"
                                                placeholder="Enter Quantity"
                                                [style]="{'max-height':'2rem'}"
                                            ></p-inputNumber>
                                            <small
                                                *ngIf="errorMap[rowData.id] && errorMap[rowData.id]['quantity']['required']"
                                                class="p-error block"
                                            >Quantity Required </small>
                                        </div>
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        <div> {{rowData.quantity}}</div>
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                            <!-- Transaction Date -->
                            <td
                                class="m-0 p-0"
                                style="padding:0.3rem 0.3rem; cursor: pointer;"
                            >
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <div class="p-fluid">
                                            <p-calendar
                                                [(ngModel)]="rowData.date"
                                                [showTime]="true"
                                                [showSeconds]="true"
                                                appendTo="body"
                                            ></p-calendar>
                                            <small
                                                *ngIf="errorMap[rowData.id] && errorMap[rowData.id]['date']['required']"
                                                class="p-error block"
                                            >Date Required </small>
                                        </div>
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        <div> {{rowData.date | date:'short'}}</div>
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                            <!-- Actions -->
                            <td
                                *ngIf="editing"
                                class="m-0 p-0"
                                style="padding:0.3rem 0.3rem; cursor: pointer;"
                            >

                                <button
                                    [disabled]="hasErrors()"
                                    pButton
                                    type="button"
                                    pSaveEditableRow
                                    icon="pi pi-check"
                                    (click)="onRowEditSave(rowData)"
                                    class="p-button-rounded p-button-text p-button-success mr-2"
                                ></button>
                                <button
                                    pButton
                                    type="button"
                                    pCancelEditableRow
                                    icon="pi pi-times"
                                    (click)="onRowEditCancel($event,rowData,rowIndex)"
                                    class="p-button-rounded p-button-text p-button-danger"
                                ></button>
                            </td>
                            <!-- Actions/Options Overlay -->
                            <p-overlayPanel
                                #rowPanel
                                [style]="{ 'background': overlayBgColor}"
                                appendTo="body"
                                class="cursor-pointer"
                                [showTransitionOptions]="'0.9ms'"
                                [hideTransitionOptions]="'0.9ms'"
                                (onShow)="onRowPanelShow($event,rowData,rowIndex)"
                                [dismissable]="true"
                                [baseZIndex]="1000001"
                            >
                                <ng-template pTemplate>
                                    <ul
                                        style="list-style: none;"
                                        class="p-0 m-0"
                                    >
                                        <li class="p-0 m-0">
                                            <a
                                                mat-flat-button
                                                pInitEditableRow
                                                type="button"
                                                class="cursor-pointer bg-transparent border-none p-0 w-7rem text-left"
                                                (click)="onRowEditInit(rowData,rowIndex)"
                                            >
                                                <i class="pi pi-pencil">
                                                </i>
                                                Edit
                                            </a>
                                        </li>

                                        <li class="p-0 m-0">
                                            <a
                                                mat-flat-button
                                                class="cursor-pointer bg-transparent border-none p-0 w-7rem text-left"
                                                type="button"
                                                (click)="onRowRemove(rowData,rowIndex)"
                                            >
                                                <i
                                                    class="pi pi-trash"
                                                    [style]="{'font-size':'1.2rem','cursor':'pointer'}"
                                                >
                                                </i>
                                                Delete
                                            </a>
                                        </li>
                                    </ul>
                                </ng-template>
                            </p-overlayPanel>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="emptymessage">
                        <tr
                            style="width: 100%;height:fit-content;"
                            class="text-center"
                        >
                            <td
                                colspan="8"
                                class="text-center"
                                style="white-space: nowrap; font-size: medium;margin:0 auto;vertical-align:middle; height: fit-content;"
                            >
                                <a
                                    mat-flat-button
                                    (click)="addNewTransaction()"
                                    class="bg-transparent"
                                    style="font-size: medium;"
                                >
                                    <i class="pi pi-plus"></i> Add a Transaction.
                                </a>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                <ng-template pTemplate="summary">
                    <div class="flex align-items-center justify-content-between">
                        <span style="font-size: 0.7rem;"> Updated: {{currentDate | date: 'short'}}</span>
                    </div>
                </ng-template>

            </div>
        </div>
    </div>
</div>