<p-overlayPanel #trackedAssetPanel
    [dismissable]="true">
    <ng-template pTemplate>
        <form #searchForm
            id="searchForm">
            <input type="text"
                [formControl]="searchField"
                name="searchInput"
                id="search"
                class="p-component p-inputtext-sm text-white form-control bg-black mb-1"
                placeholder="Start Typing"
                autocomplete="off">
            <div class="container w-100 h-100"
                [style]="{
                'width': '100%',
                'height':'100%'
                }">
                <div class="scrollbox-wrapper">
                    <p-virtualScroller #vs
                        [value]="componentService | async"
                        [scrollHeight]="scrollHeight()"
                        [itemSize]="45"
                        [rows]="45"
                        [maxBufferPx]="1200"
                        [minBufferPx]="1200"
                        [style]="{'text-align': 'center'}">
                        <ng-template pTemplate="item"
                            let-item
                            let-i="index"
                            let-c="count"
                            style="width:100%">
                            <div (click)="outputSelected(item.id)"
                                class="scroll-item-portfolio">
                                <div>{{item.name}}</div>
                            </div>
                        </ng-template>
                    </p-virtualScroller>
                </div>
                <ng-container *ngIf="componentService.getValue().length < 1">
                <span>Tracked Assets will appear here</span>
                </ng-container>
            </div>
        </form>
    </ng-template>
</p-overlayPanel>
<a style="font-size:medium;"
    mat-flat-button
    (click)="trackedAssetPanel.toggle($event)"
    [hidden]="hideSelectDropdown"
    class="bg-transparent text-blue-200 font-monospace font-bold mb-1 no-underline">
    <i class="fa fa-caret-down"
        style="font-size: 2rem;"></i>
</a>