<div class="trending-card">
    <h3 class="dash-section-title">{{title}}</h3>
    <ng-container *ngIf="!loading">
        <div *ngFor="let g of items; index as i; count as c;">
            <div class="row w-100 justify-content-between trending-card-item">
                <div class="col-3">
                    <div
                        [style]="{'height':'50%'}"
                        class="font-bold m-1 text-sm z-3"
                    >{{g.name}}</div>
                    <div
                        [style]="{'height':'50%'}"
                        class="font-bold m-0 p-0 mt-3 text-sm z-3"
                    >
                        <div [class]="g.price_change_24h < 0 ? 'decreased':'increased'">
                            {{g.current_price}}
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <app-sparkline
                        [maxWidth]="'100%'"
                        [maxHeight]="'80px'"
                        [width]="'100%'"
                        [showUnderline]="true"
                        [height]="'50%'"
                        [contrastColor]="contrastColor"
                        [color]="g.price_change_24h < 0 ? '#ff1100' :'#00ff59'"
                        [chart-data]="g.sparkline"
                        [xaxis-labels]="coinDataService.getSparklineLabels()"
                    >
                    </app-sparkline>
                </div>

                <div class="col-4">
                    <span class="row">
                        <div
                            *ngIf="g.price_change_24h >= 0"
                            class="increased text-sm font-boldp-1 z-3"
                        >
                            <span class="trending-card-price-change font-bold text-sm z-3">{{g.price_change_24h + '%'}}
                                <i class="fa fa-arrow-up"></i>
                            </span>

                        </div>
                        <div
                            *ngIf="g.price_change_24h < 0"
                            class="decreased text-sm font-bold p-1 z-3"
                        >
                            <span class="trending-card-price-change">{{g.price_change_24h + '%'}}<i
                                    class="fa fa-arrow-down"
                                ></i></span>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </ng-container>
    <div *ngIf="loading">
        <div style="height: 30vh;">
            <div class="row w-100 justify-content-between trending-card-item">
                <div class="col-3">
                    <div
                        [style]="{'height':'50%'}"
                        class="font-bold m-1 text-sm z-3"
                    > <p-skeleton></p-skeleton>
                    </div>
                    <div
                        [style]="{'height':'50%'}"
                        class="font-bold m-0 p-0 mt-3 text-sm z-3"
                    >
                        <div>
                            <p-skeleton></p-skeleton>
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <p-skeleton></p-skeleton>
                </div>

                <div class="col-4">
                    <span class="row">
                        <div class="decreased text-sm font-bold p-1 z-3">
                            <p-skeleton></p-skeleton>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>