@import "~primeng/resources/primeng.min.css";
@import "~@angular/material/prebuilt-themes/purple-green.css";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~@fortawesome/fontawesome-free/css/fontawesome.css";
@import "~bootstrap/dist/css/bootstrap.css";

html,
body {
  height: 100%;
}

body {
  overflow-y: auto;
  overflow-x: hidden;
}

:host ::ng-deep .p-sidebar .p-sidebar-content {
  background: var(--surface-b) !important;
  min-height: 100% !important;
  overflow-y: scroll;
  overflow-x: hidden;
}


/* ========================== Custom Scrollbar Styling ============================ */
/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--surface-ground);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #24273a;
  border-radius: 10px 10px 10px 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #31354e;
}

/* ========================== Cards ============================ */

.card {
  box-shadow: 1px 1px 1px var(--surface-border);
  background: var(--surface-card);
  padding: 0.3rem;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.p-table-custom {
  background-color: transparent !important;
}

.header-text-md {
  color: var(--text-primary);
  font-size: medium;
  font-weight: bold;
}

.cell-class-md {
  color: var(--text-primary);
  font-size: medium;
  font-weight: bold;
}

.caption-label-md {
  color: var(--text-primary);
  font-size: medium;
  font-weight: bold;
}

.header-text {
  color: var(--text-primary);
  font-size: small;
  font-weight: bold;
}

.header-text-expand {
  color: var(--text-primary);
  font-size: small;
}

.cell-class {
  color: var(--text-primary);
  font-size: small;
  font-weight: bold;
}

.caption-label {
  color: var(--text-primary);
  font-size: 0.9rem;
}

.header-box-special {
  height: 2rem;
  color: var(--text-primary);
  font-size: 0.9rem;
}

.header-box-special th {
  height: 2rem;
  font-size: 0.9rem;
  padding: 1rem 1rem;
}

.header-box-special-trans {
  height: 2rem;
  color: var(--text-primary);
  font-size: 0.9rem;
  background-color: var(--surface-b);
}

.header-box-special-trans > th {
  height: 2rem;
  font-size: 0.9rem;
  background: transparent;
  padding: 0.5rem 0.5rem;
}

.table-spinner {
  position: relative;
  vertical-align: middle;
  align-self: center;
  margin: 0 auto;
  margin-top: 5rem;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.navbar-message {
  flex: 1 1 auto;
}

.is-mobile .main-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

.sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.is-mobile .sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.mdc-button {
  color: var(--text-primary);
  background-color: transparent !important;
}

.mdc-button :hover {
  color: var(--text-primary);
  background-color: inherit !important;
}

.inline--text-description a {
  color: var(--blue-400) !important;
}

a {
  color: var(--text-primary);
}

a :hover {
  color: var(--text-primary);
}

p-header {
  font-size: 1.5rem;
  padding: 1rem;
}

.nav-title {
  font-size: medium !important;
  font-weight: bold !important;
}

.nav-title-exaggerate {
  font-size: x-large !important;
  font-weight: bold !important;
}

.mat-drawer {
  background-color: var(--surface-ground);
  border: none;
}

.mat-drawer-content {
  background-color: var(--surface-ground);
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: auto;
}

.nav-scroller .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  text-align: center;
  white-space: nowrap;
}

.nav-scroller .nav-link {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.875rem;
}

.dragdrop-icon {
  cursor: grab;
}

.increased {
  color: #00ff59;
}

.decreased {
  color: #ff1100;
}

.increased :hover {
  color: #00ff59 !important;
}

.decreased :hover {
  color: #ff1100 !important;
}

.p-paginator {
  background: transparent !important;
}

p-table .p-paginator {
  background: transparent !important;
}

p-table .custom-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-datatable .p-datatable-header {
  padding: 0.5rem 0.5rem !important;
}

.caption-label-special {
  color: var(--text-primary);
  font-size: medium;
  font-weight: bold;
}

.caption-label-data {
  color: var(--blue-100);
  font-size: medium;
  font-weight: bold;
}

.p-datatable .p-datatable-footer {
  background: transparent !important;
  border: none !important;
  border-width: 0 0 0 0;
  padding: 0.5rem 0.5rem !important;
  font-weight: 700;
}

.p-datatable .p-datatable-loading-icon {
  font-size: 10rem !important;
  color: #0882a4 !important;
}

.p-datatable .p-paginator-top {
  border-width: 0 0 0 0 !important;
}

.p-datatable .p-datatable-header {
  background: transparent !important;
  border: none !important;
}

.p-datatable .p-datatable-header {
  background: transparent !important;
  border: none !important;
  border-width: 0 0 0 0;
  padding: 0.5rem 0.5rem !important;
  font-weight: 700;
}

.p-datatable .p-paginator-bottom {
  background: transparent !important;
  border: none !important;
  border-width: 0 0 0 0;
  padding: 0.5rem 0.5rem !important;
}

.p-datatable .p-paginator-bottom {
  border-width: 0 0 0 0 !important;
}

.p-datatable .p-paginator .p-paginator-bottom {
  background-color: transparent !important;
  background: transparent !important;
}

.p-datatable > .p-paginator .p-paginator-top {
  background-color: transparent !important;
  background: transparent !important;
}

