@import "~primeng/resources/primeng.min.css";
@import "primeflex/primeflex.scss";
@import "~@angular/material/prebuilt-themes/purple-green.css";
@import "~@fortawesome/fontawesome-free/css/brands.css";
@import "~@fortawesome/fontawesome-free/css/regular.css";
@import "~@fortawesome/fontawesome-free/css/solid.css";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~@fortawesome/fontawesome-free/css/fontawesome.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import url(https://code.highcharts.com/css/stocktools/gui.css);
@import url(https://code.highcharts.com/css/annotations/popup.css);

html,
body {
  height: 100%;
}

body {
  overflow-y: auto;
  overflow-x: hidden;
}

:host ::ng-deep .p-sidebar .p-sidebar-content {
  background: var(--surface-b) !important;
  min-height: 100% !important;
  overflow-y: scroll;
  overflow-x: hidden;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1) !important;
}

/* ========================== Custom Scrollbar Styling ============================ */
/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--surface-ground);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 10px 10px 10px 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-hover-thumb);
}

/* ========================== Cards ============================ */

.card {
  box-shadow: 1px 1px 1px var(--surface-border);
  background: var(--card-bg-color);
  padding: 0.3rem;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.p-table-custom {
  font-size: 0.8rem;
  font-weight: bold;
  background-color: transparent !important;
}

.header-text-md {
  color: var(--text-color);
  font-size: medium;
  font-weight: bold;
}

.cell-class-md {
  color: var(--text-color);
  font-size: medium;
  font-weight: bold;
}

.caption-label-md {
  color: var(--text-color);
  font-size: medium;
  font-weight: bold;
}

.header-text {
  color: var(--text-color);
  font-size: small;
  font-weight: bold;
}

.header-text-expand {
  color: var(--text-color);
  font-size: small;
}

.cell-class {
  color: var(--text-color);
  font-size: small;
  font-weight: bold;
}

.caption-label {
  color: var(--text-color);
  font-size: 0.9rem;
}

.header-box-special {
  height: 2rem;
  color: var(--text-color);
  font-size: 0.9rem;
}

.header-box-special th {
  height: 2rem;
  font-size: 0.9rem;
  padding: 1rem 1rem;
}

.header-box-special-trans {
  height: 2rem;
  color: var(--text-color);
  font-size: 0.9rem;
  background-color: var(--surface-b);
}

.header-box-special-trans > th {
  height: 2rem;
  font-size: 0.9rem;
  background: transparent;
  padding: 0.5rem 0.5rem;
}

.table-spinner {
  position: relative;
  vertical-align: middle;
  align-self: center;
  margin: 0 auto;
  margin-top: 5rem;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.navbar-message {
  flex: 1 1 auto;
}

.is-mobile .main-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

.sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.is-mobile .sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.mdc-button {
  color: var(--text-color);
  background-color: transparent !important;
}

.mdc-button :hover {
  color: var(--text-color);
  background-color: inherit !important;
}

.inline--text-description a {
  color: var(--blue-400) !important;
}

a {
  color: var(--text-color);
}

a :hover {
  color: var(--text-color);
}

p-header {
  font-size: 1.5rem;
  padding: 1rem;
}

.nav-title {
  font-size: medium !important;
  font-weight: bold !important;
}

.nav-title-exaggerate {
  font-size: x-large !important;
  font-weight: bold !important;
}

.main-logo {
  width: auto !important;
  max-height: 64px !important;
  height: 100%;
  object-fit: contain;
}

.mat-drawer {
  background-color: var(--surface-ground);
  border: none;
}

.mat-drawer-content {
  background-color: var(--surface-ground);
  overflow: hidden !important;
}

.login-logo img {
  width: auto;
  max-height: 64px !important;
  height: 100%;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: auto;
}

.nav-scroller .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  text-align: center;
  white-space: nowrap;
}

.nav-scroller .nav-link {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.875rem;
}

.dragdrop-icon {
  cursor: grab;
}

.increased {
  color: var(--increase-color) !important;
}

.decreased {
  color: var(--decrease-color) !important;
}

.increased :hover {
  color: var(--increase-color) !important;
}

.decreased :hover {
  color: var(--decrease-color) !important;
}

.p-paginator {
  background: transparent !important;
}

p-table .p-paginator {
  background: transparent !important;
}

p-table .custom-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-datatable .p-datatable-header {
  padding: 0.5rem 0.5rem !important;
}

.caption-label-special {
  color: var(--text-color);
  font-size: medium;
  font-weight: bold;
}

.caption-label-data {
  color: var(--text-color-secondary);
  font-size: medium;
  font-weight: bold;
}

.theme-green {
  color: var(--increase-color) !important;
}

.theme-red {
  color: var(--decrease-color) !important;
}

.p-datatable .p-datatable-thead > tr > th {
  padding: 0.5rem 0.5rem !important;
  font-weight: 700;
}

.p-datatable .p-datatable-footer {
  background: transparent !important;
  border: none !important;
  border-width: 0 0 0 0;
  padding: 0.5rem 0.5rem !important;
  font-size: 0.8rem;
  font-weight: bold;
}

.p-datatable .p-datatable-loading-icon {
  font-size: 10rem !important;
  color: var(--text-color) !important;
}

.p-datatable .p-paginator-top {
  border-width: 0 0 0 0 !important;
}

.p-datatable .p-datatable-header {
  font-size: 0.8rem;
  font-weight: bold;
  background: transparent !important;
  border: none !important;
  border-width: 0 0 0 0;
  padding: 0.5rem 0.5rem !important;
  font-weight: 700;
}

.p-datatable .p-paginator-bottom {
  background: transparent !important;
  border: none !important;
  border-width: 0 0 0 0;
  padding: 0.5rem 0.5rem !important;
}


.p-datatable .p-paginator .p-paginator-bottom {
  font-size: 0.8rem;
  font-weight: bold;
  background-color: transparent !important;
  background: transparent !important;
}

.p-datatable > .p-paginator .p-paginator-top {
  font-size: 0.8rem;
  font-weight: bold;
  background-color: transparent !important;
  background: transparent !important;
}

.header-text {
  color: var(--text-color);
  font-size: 0.8rem;
  font-weight: bold;
}

:host ::ng-deep .p-menubar {
  height: fit-content !important;
  background: var(--surface-a);
}

:host ::ng-deep .p-menubar .p-submenu-list {
  background: var(--surface-a) !important;
}

:host ::ng-deep .p-menubar .p-menuitem.p-menuitem-active > .p-menuitem-link {
  background: var(--hover-bg) !important;
}

:host ::ng-deep .p-panelmenu .p-panelmenu-content {
  background: transparent;
}

#hide--button {
  z-index: 99999 !important;
  color: var(--text-color) !important;
  border: 1px solid var(--primary-color);
}

#hide--button :hover {
  color: var(--primary-color) !important;
}

.p-button-icon-only {
  max-height: 2rem;
  padding: 0.3rem;
  border: none;
  background-color: transparent !important;
}

.p-button-icon-only:hover {
  border: none;
  background-color: var(--hover-bg) !important;
}

.news-pg-label {
  color: var(--text-color);
}
