@import "~primeng/resources/themes/mdc-light-indigo/theme.css";

* {
    --increase-color: #00a53a;
    --decrease-color: #a10d02;
    --light-blue: var(--blue-900);
    --hover-bg: #42424272;
    --scrollbar-thumb: #161824;
    --scrollbar-hover-thumb: #070709;
    --surface-bg-exdark: #00012b;
    --toast-bg-color: #eccefa;
    --toast-text-color: #010837;
    --toast-close-color: #002632;
    --text-color-link: #0a0185;
    --star-color: rgb(186, 189, 11);
    --sparkline-color: #011f49;
    --text-exag-title-color: var(--blue-900);
    --text-exag-for-color: #000;
}
