@import "~primeng/resources/themes/mdc-light-indigo/theme.css";

* {
    --increase-color: #00a53a;
    --decrease-color: #a10d02;
    --light-blue: var(--blue-900);
    --hover-bg: #ababab72;
    --scrollbar-thumb: #161824;
    --scrollbar-hover-thumb: #070709;
    --surface-bg-exdark: #00012b;
    --toast-bg-color: #eccefa;
    --toast-text-color: #010837;
    --toast-close-color: #002632;
    --border-accent: #131313da;
    --text-color-link: #0a0185;
    --star-color: rgb(251, 255, 0);
    --sparkline-color: #011f49;
    --text-exag-title-color: var(--blue-900);
    --text-exag-for-color: #000;
    --main-toolbar-bg-color: var(--surface-b);
    --text-negative-color: #cacaca;
    --bg-mask-styled: #f3f3f316;
    --table-border-color: #8181814e;
    --hover-icon-color: #7e7e7e;
    --button-at-rest-color: var(--hover-icon-color);
    --button-hover-color: var(--text-color);
}
