@import "~primeng/resources/themes/soho-light/theme.css";

* {
    --increase-color: #00a53a;
    --decrease-color: #a10d02;
    --light-blue: var(--blue-900);
    --hover-bg: #ababab72;
    --scrollbar-thumb: #161824;
    --scrollbar-hover-thumb: #070709;
    --surface-bg-exdark: #00012b;
    --toast-bg-color: #eccefa;
    --toast-text-color: #010837;
    --toast-close-color: #013848;
    --border-accent: #110202ad;
    --text-color-link: #0a0185;
    --star-color: rgb(242, 246, 0);
    --sparkline-color: #011f49;
    --text-exag-title-color: var(--blue-900);
    --text-exag-for-color: #000;
    --main-toolbar-bg-color: #f8f9fa;
    --text-negative-color: #848484;
    --bg-mask-styled: #bec4e980;
    --table-border-color: #8181814e;
    --hover-icon-color: #7e7e7e;
    --button-at-rest-color: var(--hover-icon-color);
    --button-hover-color: var(--text-color);
    --chart-fill-color: #00000096;
    --chart-line-color: #0f1785;
    --chart-bg-color: #00000000;
    --hover-bg-fancy: #0612c67b;
    --chart-volume-color: #143900;
    --card-bg-color: #00000000;
    --badge-bg-color: #c0ceff;
    --badge-active-bg-color: #006bbd;
    --custom-purple: var(--purple-300) !important;
    --active-color: #00000042;
}
