:host ::ng-deep .p-datatable-responsive-scroll > .p-datatable-wrapper {
    min-height: fit-content !important;
}

:host ::ng-deep .p-dropdown-label {
    margin-top: -8px !important;
}

.expanded-table-header {
    font-size: 0.8rem !important;
    padding: 0.3rem 0.3rem !important;
}


.mdc-button {
    color: var(--text-color) !important;
    font-size: 0.8rem !important;
    font-weight: bold !important;
}
