.section-title {
    width: 100% !important;
    text-align: center;
    color: var(--text-color);
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    font-weight: bold;
}

.editable-card {
    display: flex !important;
    flex-direction: column !important;
    flex-wrap: nowrap !important;
    border-radius: 15px !important;
    height: 100% !important;
    width: 100% !important;
    background-color: var(--bg-mask-styled) !important;
    color: var(--text-color) !important;
    padding: 0.1rem !important;
    transition: 1s ease !important;
    word-wrap: normal !important;
    text-overflow: ellipsis !important;
}

.editable-card-item:hover {
    transform: scale(1.01);
}

.editable-card-item {
    border-top: 1px solid var(--text-color) !important;
    cursor: pointer !important;
    padding: 0.1rem !important;
    margin: 0.1rem !important;
    text-overflow: ellipsis !important;
}

#add-icon {
    cursor: pointer !important;
    color: var(--button-at-rest-color) !important;
    font-size: 1.4rem !important;
    margin: 0.2rem !important;
    transition: 0.5s ease !important;
}

#add-icon:hover {
    transform: scale(1.1);
    color: var(--button-hover-color) !important;
}

.editable-card-thumb {
    margin: 0.1rem !important;
    height: 1.5rem !important;
    width: auto !important;
}
